<title>Lead- Technology Governance and Transformation</title>


<div id="oc_1" hx-swap-oob="false"></div>
<div>


    
    <div class="px-1 border-bottom">
        <h1>
            Lead- Technology Governance and Transformation
        </h1>
    </div>
    
    <div class="px-1 border-bottom">
        <div class="hstack justify-content-between">
            <div>
                
                India
                
                
            </div>
            <div>
                <strong>
                    <a href="/hiring/companies/" rel="nofollow">@ ...</a>
                </strong>
            </div>
        </div>
        <div class="hstack justify-content-between">
            <div class="text-body-secondary pe-1">
            [Senior level / Expert]
            <span class="text-warning-emphasis">[~5yoe]</span>
            <br>
            [Full Time]
            
            
            <span class="text-bg-secondary">INR 2160K-3300K (estimate)</span>
            
            </div>
            <div>
                <em>
                    Found 1h ago
                </em>
                
            </div>
        </div>
    </div>
    <div class="px-1 border-bottom pb-2">
        <strong>Tasks:</strong>
        <ul class="list-unstyled mb-2">
        <li>* Build relationships with leadership, business units, and partners</li><li>* Collaborate across departments to foster innovation</li><li>* Communicate technology strategies and performance to stakeholders</li><li>* Define and track KPIs for technology effectiveness</li><li>* Design and implement technology and AI governance frameworks</li><li>* Develop ICT risk management strategies and controls</li><li>* Foster culture of collaboration and innovation</li><li>* Manage enterprise-wide technology transformation initiatives</li><li>* Oversee adoption of new technologies and processes</li><li>* Oversee technology process landscape and drive improvements</li><li>* Support technology strategy development and execution</li>
        </ul>
        <strong>Perks/Benefits:</strong>
        <ul class="list-unstyled mb-2">
        N/A
        </ul>
        <strong>Skills/Tech-stack required:</strong>
        <div class="text-primary-emphasis mb-2">
        [Agile methodologies][AI Governance][Cryptocurrency][Decentralized Finance][Digital assets][Governance frameworks][ICT Risk Management][Innovation Management][IT Service Management][KPI Development][Process Improvement][Risk Management][Service Management][Stakeholder Communication][Technology Transformation]
        </div>
        <strong>Educational requirements:</strong>
        <div class="text-warning-emphasis text-wrap">
        [Bachelor&#x27;s Degree][Master&#x27;s Degree][MBA]
        </div>
    </div>
    <div class="p-1 border-bottom">
        
        <a class="btn btn-outline-primary btn-sm"
            hx-get="/hiring/jobs/top/"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-replace-url="true"
            hx-on::before-request="event.detail.target.innerHTML = '...'">
            Close
        </a>
        
        <button class="btn btn-outline-primary btn-sm"
            onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/lead-technology-governance-and-transformation-india-1038288/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })">
            Copy link
        </button>
        <button class="btn btn-outline-primary btn-sm"
            
            hx-target="#mc_2"
            hx-post="/hiring/jobs/1038288/save/">
            Save
        </button>
        
        <a class="btn btn-primary btn-sm"
            href="/hiring/jobs/oez5ZztQ30yM1w1/apply/" target="_blank" rel="nofollow">
            Apply
        </a>
        
    </div>

    
    
    <div id="dm_0">

<div class="border-bottom">
<div class="d-flex justify-content-start">
    <div class="border-end px-1 text-bg-light">
        <h3><a href="" class="text-primary"
            hx-get="/hiring/jobs/more/1038288/1/"
            hx-target="#dm_0">
            Similar jobs</a></h3>
    </div>
    <div class="border-end px-1">
        <h3><a href=""
            hx-get="/hiring/jobs/more/1038288/2/"
            hx-target="#dm_0">
            Media</a></h3>
    </div>
</div>
</div>
<ul class="list-group list-group-flush text-break">

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-frontend-engineer-india-1031740/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Frontend Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>12d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">INR 2160K-3300K</small>
    
</div>
<div class="text-end">
    <small>India</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-manager-technologycibg-nitro-ws-squad-aa-bengaluru-karnataka-india-992061/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Manager - Technology.CIBG-Nitro WS Squad-AA</a>
<div class="flex-shrink-0 text-body-secondary"><small>7d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">INR 2250K-3509K</small>
    
</div>
<div class="text-end">
    <small>Bengaluru, Karnataka, India</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/it-grc-jakarta-1003441/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">It Grc</a>
<div class="flex-shrink-0 text-body-secondary"><small>25d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">IDR 37800K-66000K</small>
    
</div>
<div class="text-end">
    <small>Jakarta</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-ai-software-engineer-makati-city-philippines-714313/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior AI Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">PHP 81K-154K</small>
    
</div>
<div class="text-end">
    <small>Makati City, Philippines</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/ai-software-engineer-makati-city-philippines-714312/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">AI Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>Makati City, Philippines</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/audit-manager-it-auditsmgn-pak-iag-audit-division-it-audit-teaminternal-audit-group-pakcoe-pakistan-825236/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Audit Manager - IT Audits.MGN Pak -IAG-Audit Division-IT Audit Team.Internal Audit Group-PAKCOE</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">USD 90K-168K</small>
    
</div>
<div class="text-end">
    <small>Pakistan</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-manager-technologywholesale-risk-whose-sale-risk-bengaluru-karnataka-india-807793/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Manager - Technology.WholeSale Risk- Whose Sale Risk</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>Bengaluru, Karnataka, India</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/assistant-finance-manager-data-process-automation-hong-kong-hong-kong-sar-914093/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Assistant Finance Manager, Data &amp; Process Automation</a>
<div class="flex-shrink-0 text-body-secondary"><small>19d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">HKD 270K-343K</small>
    
</div>
<div class="text-end">
    <small>Hong Kong, Hong Kong SAR</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/manager-technologyplatforms-middleware-middleware-bengaluru-karnataka-india-917939/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Manager - Technology\..Platforms &amp; Middleware- Middleware</a>
<div class="flex-shrink-0 text-body-secondary"><small>19d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">INR 450K-550K</small>
    
</div>
<div class="text-end">
    <small>Bengaluru, Karnataka, India</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/tech-lead-senior-java-engineer-digital-assets-makati-city-philippines-754037/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Tech Lead / Senior Java Engineer (Digital Assets)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">PHP 648K-1056K</small>
    
</div>
<div class="text-end">
    <small>Makati City, Philippines</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/assistant-vice-president-technologydigital-corporate-nitro-bengaluru-karnataka-india-807602/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Assistant Vice President - Technology.Digital - Corporate Nitro</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EX]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">INR 237K-357K</small>
    
</div>
<div class="text-end">
    <small>Bengaluru, Karnataka, India</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/sr-data-scientist-jakarta-770212/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Sr Data Scientist</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">IDR 86400K-145200K</small>
    
</div>
<div class="text-end">
    <small>Jakarta</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/assistant-manager-technologytech-reg-tech-and-enterprise-fraud-bengaluru-karnataka-india-884622/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Assistant Manager - Technology.Tech-Reg Tech and Enterprise Fraud</a>
<div class="flex-shrink-0 text-body-secondary"><small>24d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">INR 183K-385K</small>
    
</div>
<div class="text-end">
    <small>Bengaluru, Karnataka, India</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/expert-network-engineer-bengaluru-india-1018086/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Expert Network Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>4d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">INR 1980K-3850K</small>
    
</div>
<div class="text-end">
    <small>Bengaluru, India</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-technical-engineer-customer-support-manila-philippines-991049/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Technical Engineer, Customer Support</a>
<div class="flex-shrink-0 text-body-secondary"><small>8d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">PHP 81K-165K</small>
    
</div>
<div class="text-end">
    <small>Manila, Philippines</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-technical-engineer-customer-support-manila-philippines-1010739/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Technical Engineer, Customer Support</a>
<div class="flex-shrink-0 text-body-secondary"><small>5d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">PHP 81K-165K</small>
    
</div>
<div class="text-end">
    <small>Manila, Philippines</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/it-auditor-bengaluru-india-1003843/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">IT Auditor</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>Bengaluru, India</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/expert-technical-consultant-manila-philippines-813836/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Expert Technical Consultant</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">PHP 81K-165K</small>
    
</div>
<div class="text-end">
    <small>Manila, Philippines</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/jr-data-scientist-jakarta-770213/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Jr Data Scientist</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">IDR 37800K-66000K</small>
    
</div>
<div class="text-end">
    <small>Jakarta</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/expert-technical-engineer-manila-philippines-783460/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Expert Technical Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">PHP 81K-165K</small>
    
</div>
<div class="text-end">
    <small>Manila, Philippines</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-pune-india-1019017/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>4d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">INR 2250K-3850K</small>
    
</div>
<div class="text-end">
    <small>Pune, India</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/manager-technology-pricing-platform-bengaluru-karnataka-india-877866/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Manager - Technology - Pricing Platform</a>
<div class="flex-shrink-0 text-body-secondary"><small>26d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">INR 292K-522K</small>
    
</div>
<div class="text-end">
    <small>Bengaluru, Karnataka, India</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/expert-devops-engineer-bengaluru-india-938368/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Expert DevOps Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>15d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">INR 2588K-5500K</small>
    
</div>
<div class="text-end">
    <small>Bengaluru, India</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-data-analyst-jakarta-981050/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Data Analyst</a>
<div class="flex-shrink-0 text-body-secondary"><small>9d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Contract][Full Time]</small>
    
    
    <small class="text-bg-secondary">IDR 86400K-145200K</small>
    
</div>
<div class="text-end">
    <small>Jakarta</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/manager-technologyibg-ops-ibg-and-automation-india-917995/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Manager - Technology.IBG &amp; Ops- IBG and Automation</a>
<div class="flex-shrink-0 text-body-secondary"><small>19d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
</div>
<div class="text-end">
    <small>India</small>
</div>
</div>
</li>


</ul>



</div>


</div>
