<title>Senior Staff Back-end Engineer, Observability</title>


<div id="oc_1" hx-swap-oob="false"></div>
<div>


    
    <div class="px-1 border-bottom">
        <h1>
            Senior Staff Back-end Engineer, Observability
        </h1>
    </div>
    
    <div class="px-1 border-bottom">
        <div class="hstack justify-content-between">
            <div>
                
                Seoul, South Korea
                
                
            </div>
            <div>
                <strong>
                    <a href="/hiring/companies/" rel="nofollow">@ ...</a>
                </strong>
            </div>
        </div>
        <div class="hstack justify-content-between">
            <div class="text-body-secondary pe-1">
            [Senior level / Expert]
            <span class="text-warning-emphasis">[~3yoe]</span>
            <br>
            [Full Time]
            



            </div>
            <div>
                <em>
                    Found 2h ago
                </em>
                
            </div>
        </div>
    </div>
    <div class="px-1 border-bottom pb-2">
        <strong>Tasks:</strong>
        <ul class="list-unstyled mb-2">
        <li>* Collaborate with cross-functional teams to define requirements</li><li>* Create training materials and documentation</li><li>* Define and track KPIs and SLOs</li><li>* Design and maintain observability solutions</li><li>* Develop monitoring, alerting, and logging systems</li><li>* Evaluate and optimize observability systems</li><li>* Evaluate and recommend observability tools</li><li>* Mentor engineers on observability practices</li><li>* Standardize observability processes and tools</li><li>* Troubleshoot and resolve incidents using observability data</li>
        </ul>
        <strong>Perks/Benefits:</strong>
        <ul class="list-unstyled mb-2">
        <li>+ Collaborative environment</li><li>+ Growth opportunities</li><li>+ Impactful work</li><li>+ Startup culture with large company resources</li>
        </ul>
        <strong>Skills/Tech-stack required:</strong>
        <div class="text-primary-emphasis mb-2">
        [APM Tools][AppDynamics][AWS][Azure][Bash][Cloud Platforms][Datadog][DevOps][Docker][Dynatrace][Elastic Stack][Google Cloud][Grafana][Infrastructure as Code][Jaeger][Kubernetes][Logging systems][Monitoring Tools][New Relic][Prometheus][Python][Ruby][SRE][Tracing technologies][Zipkin]
        </div>
        <strong>Educational requirements:</strong>
        <div class="text-warning-emphasis text-wrap">
        [Bachelor&#x27;s Degree][Bachelor&#x27;s Degree in Computer Science][Bachelor&#x27;s degree in Engineering]
        </div>
    </div>
    <div class="px-1 border-bottom d-flex justify-content-between text-muted">
        <div>
            <small>Views: <strong>1</strong></small> &middot;
            <small>Clicks (apply): <strong>0</strong></small>
        </div>
        <div>
            <small>Published: <strong>2025-09-19 06:09 UTC</strong></small>
        </div>
    </div>
    <div class="p-1 border-bottom">
        
        <a class="btn btn-outline-primary btn-sm"
            hx-get="/hiring/jobs/top/"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-replace-url="true"
            hx-on::before-request="event.detail.target.innerHTML = '...'">
            Close
        </a>
        
        <button class="btn btn-outline-primary btn-sm"
            onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/senior-staff-back-end-engineer-observability-seoul-south-korea-1061939/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })">
            Copy link
        </button>
        <button class="btn btn-outline-primary btn-sm"
            
            hx-target="#mc_2"
            hx-post="/hiring/jobs/1061939/save/">
            Save
        </button>
        
        <a class="btn btn-primary btn-sm"
            href="/hiring/jobs/26hMamIQnOqi7Cy/apply/" target="_blank" rel="nofollow">
            Apply
        </a>
        
    </div>

    
    
    <div id="dm_0">

<div class="border-bottom">
<div class="d-flex justify-content-start">
    <div class="border-end px-1 text-bg-light">
        <h3><a href="" class="text-primary"
            hx-get="/hiring/jobs/more/1061939/1/"
            hx-target="#dm_0">
            Similar jobs</a></h3>
    </div>
    <div class="border-end px-1">
        <h3><a href=""
            hx-get="/hiring/jobs/more/1061939/2/"
            hx-target="#dm_0">
            Media</a></h3>
    </div>
</div>
</div>
<ul class="list-group list-group-flush text-break">

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-data-analyst-fraud-risk-seoul-south-korea-712341/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff Data Analyst (Fraud &amp; Risk)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-software-engineer-security-platform-seoul-south-korea-726699/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff Software Engineer (Security Platform)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-staff-security-engineer-data-security-architecture-seoul-south-korea-943663/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Staff Security Engineer - Data Security Architecture</a>
<div class="flex-shrink-0 text-body-secondary"><small>16d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-data-scientist-growth-marketingincrementality-and-attribution-science-seoul-south-korea-966925/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff Data Scientist (Growth Marketing–Incrementality and Attribution, Science)</a>
<div class="flex-shrink-0 text-body-secondary"><small>14d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-backend-engineer-messaging-and-caching-platform-seoul-south-korea-875590/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff Backend Engineer (Messaging and Caching Platform)</a>
<div class="flex-shrink-0 text-body-secondary"><small>29d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/srstaff-data-scientist-cx-product-seoul-south-korea-858107/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Sr/Staff Data Scientist (CX Product)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-security-engineer-dcfl-infrastructure-security-seoul-south-korea-821692/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff Security Engineer (DC&amp;FL Infrastructure Security)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-front-end-engineer-ads-platform-seoul-south-korea-974527/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff Front-end Engineer (Ads Platform)</a>
<div class="flex-shrink-0 text-body-secondary"><small>13d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-web-security-engineer-blue-operations-seoul-south-korea-1052807/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff Web Security Engineer (Blue Operations)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/security-operation-analyst-seoul-south-korea-898548/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Security Operation Analyst</a>
<div class="flex-shrink-0 text-body-secondary"><small>25d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/srstaff-data-scientist-cx-product-analytics-seoul-south-korea-857998/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Sr/Staff Data Scientist (CX Product Analytics)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/security-data-platform-engineer-siem-seoul-south-korea-913734/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Security Data Platform Engineer (SIEM)</a>
<div class="flex-shrink-0 text-body-secondary"><small>22d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-data-analyst-coupang-catalog-business-seoul-south-korea-1008937/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior, Data Analyst (Coupang Catalog Business)</a>
<div class="flex-shrink-0 text-body-secondary"><small>9d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-security-analyst-blue-team-dart-seoul-south-korea-996318/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Security Analyst (Blue Team DART)</a>
<div class="flex-shrink-0 text-body-secondary"><small>9d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/sr-data-engineer-platform-biz-intelligence-seoul-south-korea-802737/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Sr. Data Engineer (Platform Biz Intelligence)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-back-end-engineer-ads-landing-seoul-south-korea-1061942/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff, Back-end Engineer (Ads Landing)</a>
<div class="flex-shrink-0 text-body-secondary"><small>23h ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/srstaff-data-analyst-cx-product-analytics-seoul-south-korea-857997/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Sr/Staff Data Analyst (CX Product Analytics)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-back-end-engineer-ads-landing-seoul-south-korea-1061941/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff, Back-end Engineer (Ads Landing)</a>
<div class="flex-shrink-0 text-body-secondary"><small>23h ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/solutions-architect-cloud-seoul-south-korea-957382/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Solutions Architect - Cloud</a>
<div class="flex-shrink-0 text-body-secondary"><small>16d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-data-scientist-llm-specialist-seoul-south-korea-1030152/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff Data Scientist (LLM Specialist)</a>
<div class="flex-shrink-0 text-body-secondary"><small>4d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-mobile-engineer-eats-android-seoul-south-korea-815458/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff Mobile Engineer (Eats Android)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">KRW 22744K-27799K</small>
    


</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-backend-engineer-core-serving-seoul-south-korea-981824/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff, Backend Engineer (Core Serving)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-back-end-engineer-advertiser-platform-seoul-south-korea-1044895/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior, Back-end Engineer (Advertiser Platform)</a>
<div class="flex-shrink-0 text-body-secondary"><small>2d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/robotics-field-engineer-contract-seoul-south-korea-830303/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Robotics Field Engineer (Contract)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Contract]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-back-end-engineer-coupang-travel-engineering-seoul-south-korea-746268/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff, Back-end Engineer (Coupang Travel Engineering)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>



</div>
<div class="text-end">
<small>Seoul, South Korea</small>
</div>
</div>
</li>


</ul>



</div>


</div>
