<title>UX Sr Technical Consultant, Platform</title>


<div id="oc_1" hx-swap-oob="false"></div>
<div>


    
    <div class="px-1 border-bottom">
        <h1>
            UX Sr Technical Consultant, Platform
        </h1>
    </div>
    
    <div class="px-1 border-bottom">
        <div class="hstack justify-content-between">
            <div>
                
                Toronto, Ontario, Canada
                
                
            </div>
            <div>
                <strong>
                    <a href="/hiring/companies/" rel="nofollow">@ ...</a>
                </strong>
            </div>
        </div>
        <div class="hstack justify-content-between">
            <div class="text-body-secondary pe-1">
            [Senior level / Expert]
            <span class="text-warning-emphasis">[~5yoe]</span>
            <br>
            [Full Time]
            


    
        <span class="text-bg-secondary">CAD 108K-184K (estimate)</span>
    


            </div>
            <div>
                <em>
                    Found 3h ago
                </em>
                
            </div>
        </div>
    </div>
    <div class="px-1 border-bottom pb-2">
        <strong>Tasks:</strong>
        <ul class="list-unstyled mb-2">
        <li>* Build user experiences on ServiceNow platform</li><li>* Collaborate with customer teams and third-party designers</li><li>* Draft user stories, acceptance criteria, testing strategies</li><li>* Drive customer KPIs like adoption and retention</li><li>* Ensure platform functionality, performance, accessibility, scalability, security</li><li>* Guide customer administrators</li><li>* Lead customer design workshops</li><li>* Participate in customer engagement projects</li><li>* Provide training and mentoring</li><li>* Publish UX best practice content in ServiceNow Community</li><li>* Support sales activities</li><li>* Travel up to 50%</li>
        </ul>
        <strong>Perks/Benefits:</strong>
        <ul class="list-unstyled mb-2">
        <li>+ Community engagement</li><li>+ Flexible work environment</li><li>+ Training and mentoring</li><li>+ Travel opportunities</li>
        </ul>
        <strong>Skills/Tech-stack required:</strong>
        <div class="text-primary-emphasis mb-2">
        [Accessibility Standards][Accessibility Standards (WCAG)][Accessibility standards WCAG 2.1][AngularJS][Application development][Bootstrap 3][CSS][Design Thinking][HTML][JavaScript Frameworks][JSON][Miro][Now Assist][Prototyping Tools][Prototyping tools (Figma][Research methods][Responsive Web][Responsive Web Design][REST APIs][SaaS Technologies][SASS][ServiceNow certifications][ServiceNow certifications (Application Development][ServiceNow GenAI][Servicenow Platform][Service Portal][Sketch][Tools Figma][User-Centered Design][User Research][User research methods][UX Design][Virtual Agent][WCAG 2.1][Web Design][Web Technologies]
        </div>
        <strong>Educational requirements:</strong>
        <div class="text-warning-emphasis text-wrap">
        [Bachelor&#x27;s Degree][Certifications]
        </div>
    </div>
    <div class="px-1 border-bottom d-flex justify-content-between text-muted">
        <div>
            <small>Views: <strong>1</strong></small> &middot;
            <small>Clicks (apply): <strong>0</strong></small>
        </div>
        <div>
            <small>Published: <strong>2025-09-19 00:06 UTC</strong></small>
        </div>
    </div>
    <div class="p-1 border-bottom">
        
        <a class="btn btn-outline-primary btn-sm"
            hx-get="/hiring/jobs/top/"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-replace-url="true"
            hx-on::before-request="event.detail.target.innerHTML = '...'">
            Close
        </a>
        
        <button class="btn btn-outline-primary btn-sm"
            onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/ux-sr-technical-consultant-platform-toronto-ontario-canada-1060561/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })">
            Copy link
        </button>
        <button class="btn btn-outline-primary btn-sm"
            
            hx-target="#mc_2"
            hx-post="/hiring/jobs/1060561/save/">
            Save
        </button>
        
        <a class="btn btn-primary btn-sm"
            href="/hiring/jobs/IN42wA6wSQa0xTr/apply/" target="_blank" rel="nofollow">
            Apply
        </a>
        
    </div>

    
    
    <div id="dm_0">

<div class="border-bottom">
<div class="d-flex justify-content-start">
    <div class="border-end px-1 text-bg-light">
        <h3><a href="" class="text-primary"
            hx-get="/hiring/jobs/more/1060561/1/"
            hx-target="#dm_0">
            Similar jobs</a></h3>
    </div>
    <div class="border-end px-1">
        <h3><a href=""
            hx-get="/hiring/jobs/more/1060561/2/"
            hx-target="#dm_0">
            Media</a></h3>
    </div>
</div>
</div>
<ul class="list-group list-group-flush text-break">

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/ux-sr-technical-consultant-platform-addison-texas-united-states-1060562/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">UX Sr Technical Consultant, Platform</a>
<div class="flex-shrink-0 text-body-secondary"><small>3h ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 132K-283K</small>
    


</div>
<div class="text-end">
<small>Addison, TEXAS, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-technology-consultant-crm-and-customer-workflows-addison-texas-united-states-874974/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Technology Consultant, CRM and Customer Workflows</a>
<div class="flex-shrink-0 text-body-secondary"><small>29d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 140K-299K</small>
    


</div>
<div class="text-end">
<small>Addison, Texas, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-staff-software-engineer-fullstack-west-palm-beach-florida-united-states-716062/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Staff Software Engineer - Fullstack</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 132K-283K</small>
    


</div>
<div class="text-end">
<small>West Palm Beach, Florida, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-staff-software-engineer-fullstack-addison-texas-united-states-716061/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Staff Software Engineer - Fullstack</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 132K-283K</small>
    


</div>
<div class="text-end">
<small>Addison, Texas, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-technology-consultant-crm-and-customer-workflows-addison-texas-united-states-882584/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Technology Consultant, CRM and Customer Workflows</a>
<div class="flex-shrink-0 text-body-secondary"><small>28d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 140K-299K</small>
    


</div>
<div class="text-end">
<small>Addison, Texas, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-technology-consultant-crm-and-industry-workflows-addison-texas-united-states-874978/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Technology Consultant, CRM and Industry Workflows</a>
<div class="flex-shrink-0 text-body-secondary"><small>29d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 140K-299K</small>
    


</div>
<div class="text-end">
<small>Addison, Texas, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-technology-consultant-crm-and-industry-workflows-addison-texas-united-states-882587/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Technology Consultant, CRM and Industry Workflows</a>
<div class="flex-shrink-0 text-body-secondary"><small>28d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 140K-299K</small>
    


</div>
<div class="text-end">
<small>Addison, Texas, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-staff-software-engineer-fullstack-san-diego-california-united-states-716063/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Staff Software Engineer - Fullstack</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 168K-295K</small>
    


</div>
<div class="text-end">
<small>San Diego, California, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-technology-consultant-crm-and-customer-workflows-secret-clearance-addison-texas-united-states-872324/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Technology Consultant, CRM and Customer Workflows (Secret Clearance)</a>
<div class="flex-shrink-0 text-body-secondary"><small>29d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 140K-299K</small>
    


</div>
<div class="text-end">
<small>Addison, Texas, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-technical-consultant-platform-federal-baltimore-maryland-united-states-866990/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Technical Consultant, Platform - Federal</a>
<div class="flex-shrink-0 text-body-secondary"><small>30d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 140K-299K</small>
    


</div>
<div class="text-end">
<small>Baltimore , Maryland , United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-staff-software-engineer-fullstack-addison-texas-united-states-972279/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Staff Software Engineer - Fullstack</a>
<div class="flex-shrink-0 text-body-secondary"><small>13d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 142K-305K</small>
    


</div>
<div class="text-end">
<small>Addison, Texas, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/principal-technology-consultant-crm-and-customer-workflows-secret-clearance-addison-texas-united-states-872323/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Principal Technology Consultant, CRM and Customer Workflows (Secret Clearance)</a>
<div class="flex-shrink-0 text-body-secondary"><small>29d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 140K-299K</small>
    


</div>
<div class="text-end">
<small>Addison, Texas, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-technology-consultant-crm-and-customer-workflows-secret-clearance-addison-texas-united-states-880032/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Technology Consultant, CRM and Customer Workflows (Secret Clearance)</a>
<div class="flex-shrink-0 text-body-secondary"><small>28d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 140K-299K</small>
    


</div>
<div class="text-end">
<small>Addison, Texas, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/product-management-director-servicenow-platform-generative-ui-san-diego-california-united-states-774092/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Product Management Director, ServiceNow Platform, Generative UI</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EX]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 195K-342K</small>
    


</div>
<div class="text-end">
<small>San Diego, California, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/principal-technology-consultant-crm-and-customer-workflows-secret-clearance-addison-texas-united-states-880030/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Principal Technology Consultant, CRM and Customer Workflows (Secret Clearance)</a>
<div class="flex-shrink-0 text-body-secondary"><small>28d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 140K-299K</small>
    


</div>
<div class="text-end">
<small>Addison, Texas, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-business-process-consultant-crm-and-industry-workflows-secret-clearance-addison-texas-united-states-872325/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Business Process Consultant, CRM and Industry Workflows (Secret Clearance)</a>
<div class="flex-shrink-0 text-body-secondary"><small>29d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 140K-299K</small>
    


</div>
<div class="text-end">
<small>Addison, Texas, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/manager-product-design-aiml-santa-clara-california-united-states-842817/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Manager, Product Design, AI/ML</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 163K-286K</small>
    


</div>
<div class="text-end">
<small>Santa Clara, CALIFORNIA, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-full-stack-santa-clara-california-united-states-842887/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer, Full-Stack</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 140K-239K</small>
    


</div>
<div class="text-end">
<small>Santa Clara, California, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-technical-consultant-platform-federal-baltimore-maryland-united-states-898241/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Technical Consultant, Platform - Federal</a>
<div class="flex-shrink-0 text-body-secondary"><small>24d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 121K-213K</small>
    


</div>
<div class="text-end">
<small>Baltimore , Maryland , United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-business-process-consultant-crm-and-industry-workflows-secret-clearance-addison-texas-united-states-880031/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Business Process Consultant, CRM and Industry Workflows (Secret Clearance)</a>
<div class="flex-shrink-0 text-body-secondary"><small>28d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 140K-299K</small>
    


</div>
<div class="text-end">
<small>Addison, Texas, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/principal-platform-architect-fed-civ-orlando-florida-united-states-898150/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Principal Platform Architect - Fed Civ</a>
<div class="flex-shrink-0 text-body-secondary"><small>24d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 134K-260K</small>
    


</div>
<div class="text-end">
<small>Orlando, Florida, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-business-process-consultant-platform-federal-tampa-florida-united-states-898141/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Business Process Consultant, Platform (Federal)</a>
<div class="flex-shrink-0 text-body-secondary"><small>24d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 140K-299K</small>
    


</div>
<div class="text-end">
<small>Tampa , Florida , United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-business-process-consultant-platform-federal-atlanta-georgia-united-states-898140/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Business Process Consultant, Platform (Federal)</a>
<div class="flex-shrink-0 text-body-secondary"><small>24d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 140K-299K</small>
    


</div>
<div class="text-end">
<small>Atlanta , Georgia , United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-business-process-consultant-platform-federal-addison-texas-united-states-866919/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Business Process Consultant, Platform (Federal)</a>
<div class="flex-shrink-0 text-body-secondary"><small>30d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 140K-299K</small>
    


</div>
<div class="text-end">
<small>Addison, Texas, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-business-process-consultant-platform-federal-baltimore-maryland-united-states-898138/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Business Process Consultant, Platform (Federal)</a>
<div class="flex-shrink-0 text-body-secondary"><small>24d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 121K-213K</small>
    


</div>
<div class="text-end">
<small>Baltimore , Maryland , United States</small>
</div>
</div>
</li>


</ul>



</div>


</div>
