



<div>


    
    <div class="px-1 border-bottom">
        <h1>
            Testingenieur Prüfanlagen für Hochvoltsysteme (w/m/x)
        </h1>
    </div>
    
    <div class="px-1 border-bottom">
        <div class="hstack justify-content-between">
            <div>
                
                Schierling, DE
                
                
            </div>
            <div>
                <strong>
                    <a href="/hiring/companies/" rel="nofollow">@ ...</a>
                </strong>
            </div>
        </div>
        <div class="hstack justify-content-between">
            <div class="text-body-secondary pe-1">
            [Mid-level / Intermediate]
            <span class="text-warning-emphasis">[~3yoe]</span>
            <br>
            [Full Time]
            
            
            <span class="text-bg-secondary">EUR 14K-20K (estimate)</span>
            
            </div>
            <div>
                <em>
                    Found 1h ago
                </em>
                
            </div>
        </div>
    </div>
    <div class="px-1 border-bottom pb-2">
        <strong>Tasks:</strong>
        <ul class="list-unstyled mb-2">
        <li>* Analyze failure parts</li><li>* Conduct manual and automated tests on automotive HV batteries</li><li>* Coordinate with customers and suppliers in product development</li><li>* Create test plans, specifications, and reports</li><li>* Design and develop test environments for hardware and software</li><li>* Ensure compliance with quality safety and performance standards</li><li>* Maintain and optimize test benches</li>
        </ul>
        <strong>Perks/Benefits:</strong>
        <ul class="list-unstyled mb-2">
        N/A
        </ul>
        <strong>Skills/Tech-stack required:</strong>
        <div class="text-primary-emphasis mb-2">
        [Automated testing][Automotive Electronics][CAN bus][Dashboard programming][Environment development][Failure analysis][HV system testing][LabVIEW][Product Documentation][SAP][System Testing][Test Environment][Test environment development]
        </div>
        <strong>Educational requirements:</strong>
        <div class="text-warning-emphasis text-wrap">
        [Electrical Engineering][Technical Informatics]
        </div>
    </div>
    <div class="p-1 border-bottom">
        
        <a class="btn btn-outline-primary btn-sm" hx-get="/hiring/jobs/top/" hx-target="#mc_2" hx-swap="scroll:top" hx-replace-url="true" hx-on::before-request="event.detail.target.innerHTML = '...'">
            Close
        </a>
        
        <button class="btn btn-outline-primary btn-sm" onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/testingenieur-prufanlagen-fur-hochvoltsysteme-wmx-schierling-de-1037706/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })">
            Copy link
        </button>
        <button class="btn btn-outline-primary btn-sm" hx-target="#mc_2" hx-post="/hiring/jobs/1037706/save/">
            Save
        </button>
        
        <a class="btn btn-primary btn-sm" href="/hiring/jobs/lVBpuQ4GQ3ecrgm/apply/" target="_blank" rel="nofollow">
            Apply
        </a>
        
    </div>

    
    
    <div id="dm_0">

<div class="border-bottom">
<div class="d-flex justify-content-start">
    <div class="border-end px-1 text-bg-light">
        <h3><a href="" class="text-primary" hx-get="/hiring/jobs/more/1037706/1/" hx-target="#dm_0">
            Similar jobs</a></h3>
    </div>
    <div class="border-end px-1">
        <h3><a href="" hx-get="/hiring/jobs/more/1037706/2/" hx-target="#dm_0">
            Media</a></h3>
    </div>
</div>
</div>
<ul class="list-group list-group-flush text-break">

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/me-expert-process-technologies-electrical-testing-wmx-schierling-de-960458/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">ME Expert Process Technologies Electrical Testing (w/m/x)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 52K-71K</small>
    
</div>
<div class="text-end">
    <small>Schierling, DE</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/me-expert-process-technologies-electrical-testing-fmx-schierling-de-963104/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">ME Expert Process Technologies Electrical Testing (f/m/x)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 46K-56K</small>
    
</div>
<div class="text-end">
    <small>Schierling, DE</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/me-expert-process-technologies-automation-plc-wmx-schierling-de-960613/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">ME Expert Process Technologies Automation PLC (w/m/x)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 64K-92K</small>
    
</div>
<div class="text-end">
    <small>Schierling, DE</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/praktikant-elektronikentwicklung-wmx-gilching-by-de-82205-960452/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Praktikant Elektronikentwicklung (w/m/x)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Internship]</small>
    
    
    <small class="text-bg-success">EUR 12K-12K</small>
    
</div>
<div class="text-end">
    <small>Gilching, BY, DE, 82205</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/test-system-engineer-electronic-hardware-test-automation-wmd-ulm-de-89077-892008/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Test System Engineer, Electronic Hardware &amp; Test Automation (w/m/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 49K-63K</small>
    
</div>
<div class="text-end">
    <small>Ulm, DE, 89077</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/me-expert-process-technologies-automation-plc-fmx-schierling-de-960416/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">ME Expert Process Technologies Automation PLC (f/m/x)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 39K-59K</small>
    
</div>
<div class="text-end">
    <small>Schierling, DE</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/test-system-engineer-electronic-hardware-test-automation-wmd-ulm-de-89077-892000/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Test System Engineer, Electronic Hardware &amp; Test Automation (w/m/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 54K-71K</small>
    
</div>
<div class="text-end">
    <small>Ulm, DE, 89077</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/dualer-student-wmx-elektro-und-informationstechnik-automation-zum-01092026-stockdorf-by-de-82131-960612/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Dualer Student (w/m/x) Elektro- und Informationstechnik - Automation zum 01.09.2026</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">EUR 16K-18K</small>
    
</div>
<div class="text-end">
    <small>Stockdorf, BY, DE, 82131</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/dualer-student-wmx-elektro-und-informationstechnik-fahrzeugelektronik-zum-01092026-stockdorf-by-de-82131-960457/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Dualer Student (w/m/x) Elektro- und Informationstechnik - Fahrzeugelektronik zum 01.09.2026</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">EUR 16K-18K</small>
    
</div>
<div class="text-end">
    <small>Stockdorf, BY, DE, 82131</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/testingenieur-werkstatttester-all-gender-stuttgart-bw-germany-761324/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Testingenieur Werkstatttester (all gender)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 34K-42K</small>
    
</div>
<div class="text-end">
    <small>Stuttgart, BW, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/software-test-manager-mwd-ulm-de-89077-921772/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Software Test Manager (m/w/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>26d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 49K-77K</small>
    
</div>
<div class="text-end">
    <small>Ulm, DE, 89077</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/testingenieur-werkstatttester-all-gender-stuttgart-bw-germany-1037711/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Testingenieur Werkstatttester (all gender)</a>
<div class="flex-shrink-0 text-body-secondary"><small>3h ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 34K-42K</small>
    
</div>
<div class="text-end">
    <small>Stuttgart, BW, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/softwaretester-mwd-befristet-berlin-be-germany-708477/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Softwaretester (m/w/d) – Befristet</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time][Temporary]</small>
    
    
    <small class="text-bg-secondary">EUR 64K-88K</small>
    
</div>
<div class="text-end">
    <small>Berlin, BE, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/intern-electronics-development-fmx-gilching-by-de-82205-959687/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Intern Electronics Development (f/m/x)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Internship]</small>
    
    
    <small class="text-bg-success">EUR 12K-12K</small>
    
</div>
<div class="text-end">
    <small>Gilching, BY, DE, 82205</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/test-ingenieur-techniker-mwd-in-der-automobilentwicklung-in-munchen-oder-allgau-turkheim-mindelheim-bayern-deutschland-784156/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Test Ingenieur/ Techniker (m/w/d) in der Automobilentwicklung in München oder Allgäu</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 34K-42K</small>
    
</div>
<div class="text-end">
    <small>Türkheim / Mindelheim , Bayern, Deutschland</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/projektleiter-testmanager-mwd-fur-automotive-test-und-absicherung-munchen-bayern-deutschland-776823/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Projektleiter / Testmanager (m/w/d) für Automotive Test und Absicherung</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 43K-61K</small>
    
</div>
<div class="text-end">
    <small>München, Bayern, Deutschland</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/test-manager-wmd-ulm-de-89077-891990/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Test-Manager (w/m/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 44K-62K</small>
    
</div>
<div class="text-end">
    <small>Ulm, DE, 89077</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/software-test-manager-mwd-ulm-de-89077-921771/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Software Test Manager (m/w/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>26d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 54K-82K</small>
    
</div>
<div class="text-end">
    <small>Ulm, DE, 89077</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/ausbildung-fachinformatiker-wmx-zum-01092026-schierling-by-de-84069-1010715/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Ausbildung Fachinformatiker (w/m/x) zum 01.09.2026</a>
<div class="flex-shrink-0 text-body-secondary"><small>5d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">EUR 15K-16K</small>
    
</div>
<div class="text-end">
    <small>Schierling, BY, DE, 84069</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/test-manager-wmd-ulm-de-89077-891991/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Test-Manager (w/m/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 45K-71K</small>
    
</div>
<div class="text-end">
    <small>Ulm, DE, 89077</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/dualer-student-wmx-mechatronik-zum-01092026-stockdorf-by-de-82131-960453/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Dualer Student (w/m/x) Mechatronik zum 01.09.2026</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">EUR 16K-18K</small>
    
</div>
<div class="text-end">
    <small>Stockdorf, BY, DE, 82131</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werksstudentin-testautomatisierung-mwd-mannheim-baden-wurttemberg-germany-1035541/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werksstudent/in Testautomatisierung (m/w/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 28K-34K</small>
    
</div>
<div class="text-end">
    <small>Mannheim, Baden-Wurttemberg, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/testingenieur-mwd-fur-automatisiertes-testing-fur-automotive-steuergerate-in-ingolstadt-gaimersheim-bayern-deutschland-759958/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Testingenieur (m/w/d) für automatisiertes Testing für Automotive Steuergeräte in Ingolstadt</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 42K-55K</small>
    
</div>
<div class="text-end">
    <small>Gaimersheim, Bayern, Deutschland</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/test-ingenieur-wmd-ulm-de-89077-891993/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Test-Ingenieur (w/m/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 47K-62K</small>
    
</div>
<div class="text-end">
    <small>Ulm, DE, 89077</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/senior-testingenieur-wmd-embedded-systems-freiburg-germany-885090/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Testingenieur (w/m/d) Embedded Systems</a>
<div class="flex-shrink-0 text-body-secondary"><small>26d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 67K-89K</small>
    
</div>
<div class="text-end">
    <small>Freiburg, Germany</small>
</div>
</div>
</li>


</ul>



</div>


</div>
