<title>Information Security Assurance Manager</title>


<div id="oc_1" hx-swap-oob="false"></div>
<div>


    
    <div class="px-1 border-bottom">
        <h1>
            Information Security Assurance Manager
        </h1>
    </div>
    
    <div class="px-1 border-bottom">
        <div class="hstack justify-content-between">
            <div>
                
                Hemel Hempstead, GB, HP2 4FL
                
                
            </div>
            <div>
                <strong>
                    <a href="/hiring/companies/" rel="nofollow">@ ...</a>
                </strong>
            </div>
        </div>
        <div class="hstack justify-content-between">
            <div class="text-body-secondary pe-1">
            [Mid-level / Intermediate]
            <span class="text-warning-emphasis">[~3yoe]</span>
            <br>
            [Full Time]
            
            
            <span class="text-bg-secondary">GBP 49K-71K (estimate)</span>
            
            </div>
            <div>
                <em>
                    Found 1h ago
                </em>
                
            </div>
        </div>
    </div>
    <div class="px-1 border-bottom pb-2">
        <strong>Tasks:</strong>
        <ul class="list-unstyled mb-2">
        <li>* Conduct third-party risk assessments</li><li>* Coordinate external audits and compliance</li><li>* Create reports and dashboards on KPIs and KRIs</li><li>* Develop and enforce security policies and procedures</li><li>* Execute phishing campaigns and remedial actions</li><li>* Identify and mitigate security risks</li><li>* Maintain security risk frameworks and standards</li><li>* Manage information security management system</li><li>* Manage security audits and certifications</li><li>* Promote security awareness programs</li>
        </ul>
        <strong>Perks/Benefits:</strong>
        <ul class="list-unstyled mb-2">
        <li>+ 26 days holiday</li><li>+ Company car</li><li>+ Life assurance</li><li>+ On-call pay</li><li>+ Overtime pay</li><li>+ Pension contributions</li><li>+ Private healthcare</li><li>+ Sick pay</li><li>+ Travel time pay</li>
        </ul>
        <strong>Skills/Tech-stack required:</strong>
        <div class="text-primary-emphasis mb-2">
        [Audit management][Awareness Training][Information security][Information Security Frameworks][ISO 27001][NIST CSF][Phishing simulation][Policy Development][Risk Assessment][Risk Management][Security awareness][Security Awareness Training][Security Compliance][Security Frameworks][Stakeholder Communication][Third-Party Risk][Third Party Risk Assessment]
        </div>
        <strong>Educational requirements:</strong>
        <div class="text-warning-emphasis text-wrap">
        N/A
        </div>
    </div>
    <div class="p-1 border-bottom">
        
        <a class="btn btn-outline-primary btn-sm"
            hx-get="/hiring/jobs/top/"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-replace-url="true"
            hx-on::before-request="event.detail.target.innerHTML = '...'">
            Close
        </a>
        
        <button class="btn btn-outline-primary btn-sm"
            onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/information-security-assurance-manager-hemel-hempstead-gb-hp2-4fl-1037988/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })">
            Copy link
        </button>
        <button class="btn btn-outline-primary btn-sm"
            
            hx-target="#mc_2"
            hx-post="/hiring/jobs/1037988/save/">
            Save
        </button>
        
        <a class="btn btn-primary btn-sm"
            href="/hiring/jobs/QFccmnGzR4yYYew/apply/" target="_blank" rel="nofollow">
            Apply
        </a>
        
    </div>

    
    
    <div id="dm_0">

<div class="border-bottom">
<div class="d-flex justify-content-start">
    <div class="border-end px-1 text-bg-light">
        <h3><a href="" class="text-primary"
            hx-get="/hiring/jobs/more/1037988/1/"
            hx-target="#dm_0">
            Similar jobs</a></h3>
    </div>
    <div class="border-end px-1">
        <h3><a href=""
            hx-get="/hiring/jobs/more/1037988/2/"
            hx-target="#dm_0">
            Media</a></h3>
    </div>
</div>
</div>
<ul class="list-group list-group-flush text-break">

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/information-security-officer-hemel-hempstead-gb-hp2-4fl-962043/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Information Security Officer</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">GBP 45K-66K</small>
    
</div>
<div class="text-end">
    <small>Hemel Hempstead, GB, HP2 4FL</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/lead-security-architect-identity-and-access-management-iam-central-london-united-kingdom-873219/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Lead Security Architect – Identity and Access Management (IAM)</a>
<div class="flex-shrink-0 text-body-secondary"><small>27d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">GBP 51K-73K</small>
    
</div>
<div class="text-end">
    <small>Central London, United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/information-security-assurance-manager-london-england-united-kingdom-989867/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Information Security Assurance Manager</a>
<div class="flex-shrink-0 text-body-secondary"><small>8d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">GBP 43K-65K</small>
    
</div>
<div class="text-end">
    <small>London, England, United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/information-security-senior-analyst-guildford-eng-gb-gu2-8xg-814728/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Information Security Senior Analyst</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">GBP 65K</small>
    
</div>
<div class="text-end">
    <small>Guildford, ENG, GB, GU2 8XG</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/information-security-officer-bristol-or-sheffield-bristol-south-gloucestershire-united-kingdom-938422/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Information Security Officer (Bristol or Sheffield)</a>
<div class="flex-shrink-0 text-body-secondary"><small>15d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">GBP 55K-60K</small>
    
</div>
<div class="text-end">
    <small>Bristol, South Gloucestershire, United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/information-security-officer-bristol-or-sheffield-bristol-south-gloucestershire-united-kingdom-710702/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Information Security Officer (Bristol or Sheffield)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">GBP 55K-70K</small>
    
</div>
<div class="text-end">
    <small>Bristol, South Gloucestershire, United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/information-security-officer-bristol-or-sheffield-sheffield-england-united-kingdom-716105/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Information Security Officer (Bristol or Sheffield)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">GBP 55K-70K</small>
    
</div>
<div class="text-end">
    <small>Sheffield, England, United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/cyber-security-assurance-analyst-gb-eng-ham-portsmouth-1010973/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Cyber Security Assurance Analyst</a>
<div class="flex-shrink-0 text-body-secondary"><small>4d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">GBP 49K</small>
    
</div>
<div class="text-end">
    <small>GB-ENG-HAM-Portsmouth</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-security-specialist-liverpool-england-united-kingdom-931776/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Security Specialist</a>
<div class="flex-shrink-0 text-body-secondary"><small>18d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">GBP 49K-77K</small>
    
</div>
<div class="text-end">
    <small>Liverpool, England, United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/international-cyber-secops-frimley-gb-1007617/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">International Cyber SecOps</a>
<div class="flex-shrink-0 text-body-secondary"><small>6d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">GBP 26K-38K</small>
    
</div>
<div class="text-end">
    <small>Frimley, GB</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/infrastructure-support-engineer-security-melbourn-united-kingdom-912829/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Infrastructure Support Engineer (Security)</a>
<div class="flex-shrink-0 text-body-secondary"><small>19d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">GBP 27K-37K</small>
    
</div>
<div class="text-end">
    <small>Melbourn, United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/infrastructure-support-engineer-security-london-england-united-kingdom-929717/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Infrastructure Support Engineer (Security)</a>
<div class="flex-shrink-0 text-body-secondary"><small>17d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">GBP 27K-37K</small>
    
</div>
<div class="text-end">
    <small>London, England, United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/security-architect-london-united-kingdom-1011632/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Security Architect</a>
<div class="flex-shrink-0 text-body-secondary"><small>5d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">GBP 58K-92K</small>
    
</div>
<div class="text-end">
    <small>London, United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/information-security-consultant-london-gb-1009062/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Information Security Consultant</a>
<div class="flex-shrink-0 text-body-secondary"><small>5d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">GBP 45K-71K</small>
    
</div>
<div class="text-end">
    <small>London, GB</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/infrastructure-network-security-specialist-guildford-eng-gb-gu2-8xg-1017911/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Infrastructure &amp; Network Security Specialist</a>
<div class="flex-shrink-0 text-body-secondary"><small>4d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">GBP 80K</small>
    
</div>
<div class="text-end">
    <small>Guildford, ENG, GB, GU2 8XG</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/information-security-architect-london-paddington-gbr-united-kingdom-1013271/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Information Security Architect</a>
<div class="flex-shrink-0 text-body-secondary"><small>5d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">GBP 63K-91K</small>
    
</div>
<div class="text-end">
    <small>London - Paddington (GBR), United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/information-security-architect-london-paddington-gbr-united-kingdom-1014338/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Information Security Architect</a>
<div class="flex-shrink-0 text-body-secondary"><small>5d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">GBP 63K-91K</small>
    
</div>
<div class="text-end">
    <small>London - Paddington (GBR), United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/information-security-assessor-kronberg-office-germany-758917/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Information Security Assessor</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 51K-84K</small>
    
</div>
<div class="text-end">
    <small>Kronberg Office, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/information-security-governance-analyst-london-england-united-kingdom-957948/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Information Security Governance Analyst</a>
<div class="flex-shrink-0 text-body-secondary"><small>12d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">GBP 42K-66K</small>
    
</div>
<div class="text-end">
    <small>London, England, United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/graduate-information-security-officer-sheffield-yorkshire-united-kingdom-864306/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Graduate Information Security Officer</a>
<div class="flex-shrink-0 text-body-secondary"><small>27d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">GBP 30K-30K</small>
    
</div>
<div class="text-end">
    <small>Sheffield, Yorkshire, United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/risk-controls-information-security-senior-analyst-guildford-eng-gb-gu2-8xg-845830/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Risk &amp; Controls Information Security Senior Analyst</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">GBP 68K</small>
    
</div>
<div class="text-end">
    <small>Guildford, ENG, GB, GU2 8XG</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/identity-access-management-security-engineer-mfd-madrid-es-975258/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Identity &amp; Access Management Security Engineer (m/f/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>10d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 37K-77K</small>
    
</div>
<div class="text-end">
    <small>Madrid, ES</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/iam-senior-consultant-business-analysis-focus-greater-london-england-united-kingdom-783383/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">IAM Senior Consultant (Business Analysis focus)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">GBP 65K</small>
    
</div>
<div class="text-end">
    <small>Greater London, England, United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/information-security-manager-wallingford-united-kingdom-935235/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Information Security Manager</a>
<div class="flex-shrink-0 text-body-secondary"><small>15d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">GBP 48K-52K</small>
    
</div>
<div class="text-end">
    <small>Wallingford, United Kingdom</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/information-security-lead-auditor-surrey-uk-837204/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Information Security Lead Auditor</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">GBP 49K-71K</small>
    
</div>
<div class="text-end">
    <small>Surrey, UK</small>
</div>
</div>
</li>


</ul>



</div>


</div>
