



<div>


    
    <div class="px-1 border-bottom">
        <h1>
            Werkstudent (m/w/d) Applikation
        </h1>
    </div>
    
    <div class="px-1 border-bottom">
        <div class="hstack justify-content-between">
            <div>
                
                München
                
                
            </div>
            <div>
                <strong>
                    <a href="/hiring/companies/" rel="nofollow">@ ...</a>
                </strong>
            </div>
        </div>
        <div class="hstack justify-content-between">
            <div class="text-body-secondary pe-1">
            [Entry-level / Junior]
            
            <br>
            [Internship][Part Time]
            
            
            <span class="text-bg-secondary">EUR 27K-35K (estimate)</span>
            
            </div>
            <div>
                <em>
                    Found 1h ago
                </em>
                
            </div>
        </div>
    </div>
    <div class="px-1 border-bottom pb-2">
        <strong>Tasks:</strong>
        <ul class="list-unstyled mb-2">
        <li>* Assist team with fault analysis and verification in touch and embedded applications</li><li>* Conduct software validation tests and document results</li><li>* Create and edit tickets in GitLab</li><li>* Develop graphical user interfaces for trade shows and internal validation on X86/ARM platforms</li><li>* Program embedded Linux images (Yocto</li><li>* Ubuntu)</li>
        </ul>
        <strong>Perks/Benefits:</strong>
        <ul class="list-unstyled mb-2">
        <li>+ Company fitness center</li><li>+ International tech company</li><li>+ Mentoring</li><li>+ Open work environment</li><li>+ Project involvement</li><li>+ Responsible tasks</li>
        </ul>
        <strong>Skills/Tech-stack required:</strong>
        <div class="text-primary-emphasis mb-2">
        [Analytical Skills][Communication skills][Embedded Linux][English][German][GitLab][GUI Development][Hardware and Software][Hardware and software integration][MS Office][Software integration][Teamwork][Troubleshooting][Ubuntu][Yocto]
        </div>
        <strong>Educational requirements:</strong>
        <div class="text-warning-emphasis text-wrap">
        [Bachelor's Degree][Diploma][Enrolled in electrical engineering or similar]
        </div>
    </div>
    <div class="p-1 border-bottom">
        
        <a class="btn btn-outline-primary btn-sm" hx-get="/hiring/jobs/top/" hx-target="#mc_2" hx-swap="scroll:top" hx-replace-url="true" hx-on::before-request="event.detail.target.innerHTML = '...'">
            Close
        </a>
        
        <button class="btn btn-outline-primary btn-sm" onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/werkstudent-mwd-applikation-munchen-1037436/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })">
            Copy link
        </button>
        <button class="btn btn-outline-primary btn-sm" hx-target="#mc_2" hx-post="/hiring/jobs/1037436/save/">
            Save
        </button>
        
        <a class="btn btn-primary btn-sm" href="/hiring/jobs/XWsXvT0YQmGdhQg/apply/" target="_blank" rel="nofollow">
            Apply
        </a>
        
    </div>

    
    
    <div id="dm_0">

<div class="border-bottom">
<div class="d-flex justify-content-start">
    <div class="border-end px-1 text-bg-light">
        <h3><a href="" class="text-primary" hx-get="/hiring/jobs/more/1037436/1/" hx-target="#dm_0">
            Similar jobs</a></h3>
    </div>
    <div class="border-end px-1">
        <h3><a href="" hx-get="/hiring/jobs/more/1037436/2/" hx-target="#dm_0">
            Media</a></h3>
    </div>
</div>
</div>
<ul class="list-group list-group-flush text-break">

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-systementwicklung-wmx-munchen-by-de-80809-1025836/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent Systementwicklung  (w/m/x)</a>
<div class="flex-shrink-0 text-body-secondary"><small>4d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 24K-30K</small>
    
</div>
<div class="text-end">
    <small>München, BY, DE, 80809</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-im-bereich-elektronik-und-softwareentwicklung-mwdka-hagen-nrw-germany-971356/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent im Bereich Elektronik und Softwareentwicklung (m/w/d/k.A.)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-success">EUR 26K-30K</small>
    
</div>
<div class="text-end">
    <small>Hagen, NRW, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-im-bereich-elektronik-und-softwareentwicklung-mwdka-hagen-nrw-germany-802457/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent im Bereich Elektronik und Softwareentwicklung (m/w/d/k.A.)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-success">EUR 26K-30K</small>
    
</div>
<div class="text-end">
    <small>Hagen, NRW, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-mwd-mobile-devices-management-mannheim-germany-909621/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent (m/w/d) mobile Devices Management</a>
<div class="flex-shrink-0 text-body-secondary"><small>20d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time][Part Time]</small>
    <small class="text-danger-emphasis">[A]</small>
    
    <small class="text-bg-success">EUR 32K-32K</small>
    
</div>
<div class="text-end">
    <small>Mannheim, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudentin-data-analytics-mwd-academia-holding-l-landwehrstrae-2-80336-munchen-754827/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent:in Data Analytics (m/w/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Internship][Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 30K-41K</small>
    
</div>
<div class="text-end">
    <small>Academia Holding l Landwehrstraße 2, 80336 …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/praktikant-softwareentwicklung-wmx-munchen-by-de-80809-973670/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Praktikant Softwareentwicklung (w/m/x)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Internship]</small>
    
    
    <small class="text-bg-secondary">EUR 24K-30K</small>
    
</div>
<div class="text-end">
    <small>München, BY, DE, 80809</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-digitalisierung-produktnachhaltigkeit-wmx-munchen-by-de-80809-789982/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent Digitalisierung Produktnachhaltigkeit (w/m/x)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 24K-30K</small>
    
</div>
<div class="text-end">
    <small>München, BY, DE, 80809</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-mwd-softwareentwicklung-munich-remote-999147/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent (m/w/d) Softwareentwicklung</a>
<div class="flex-shrink-0 text-body-secondary"><small>6d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Internship][Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 36K-53K</small>
    
</div>
<div class="text-end">
    <small>Munich, Remote <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-mwd-it-web-development-dusseldorf-medienhafen-dusseldorf-germany-772734/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent (m/w/d) - IT / Web-Development | Düsseldorf Medienhafen</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Internship][Part Time]</small>
    
    
    <small class="text-bg-success">EUR 100K</small>
    
</div>
<div class="text-end">
    <small>Düsseldorf, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-cost-engineering-mit-fokus-auf-software-tools-wmx-munchen-by-de-80809-759984/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent Cost Engineering mit Fokus auf Software-Tools (w/m/x)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 24K-30K</small>
    
</div>
<div class="text-end">
    <small>München, BY, DE, 80809</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-softwareentwicklung-mwd-ostfildern-bw-de-73760-823652/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent Softwareentwicklung (m/w/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 38K-66K</small>
    
</div>
<div class="text-end">
    <small>Ostfildern, BW, DE, 73760</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-fur-programmieraufgaben-mwdka-ludenscheid-nrw-germany-867538/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent für Programmieraufgaben (m/w/d/kA)</a>
<div class="flex-shrink-0 text-body-secondary"><small>28d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-success">EUR 26K-30K</small>
    
</div>
<div class="text-end">
    <small>Lüdenscheid, NRW, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-operation-development-mwd-hamburg-959251/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent Operation &amp; Development (m/w/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>12d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 27K-35K</small>
    
</div>
<div class="text-end">
    <small>Hamburg</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-innovation-schwerpunkt-embedded-systems-fur-radartechnologie-mwd-73765-neuhausen-baden-wurttemberg-deutschland-776712/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent Innovation - Schwerpunkt Embedded Systems für Radartechnologie m|w|d</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time][Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 23K-33K</small>
    
</div>
<div class="text-end">
    <small>73765 Neuhausen, Baden-Württemberg, Deutschland</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/embedded-systems-developer-mwd-memmingen-germany-834863/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Embedded Systems Developer (m/w/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 54K-93K</small>
    
</div>
<div class="text-end">
    <small>Memmingen, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/absolvent-elektrotechnik-all-gender-stuttgart-bw-germany-898376/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Absolvent Elektrotechnik (all gender)</a>
<div class="flex-shrink-0 text-body-secondary"><small>21d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 32K-39K</small>
    
</div>
<div class="text-end">
    <small>Stuttgart, BW, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-praktikant-app-entwicklung-fur-ios-android-und-windows-mwd-munchen-unterhaching-918451/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent / Praktikant - App-Entwicklung für IOS, Android und Windows (m/w/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>19d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Internship][Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 27K-37K</small>
    
</div>
<div class="text-end">
    <small>München-Unterhaching</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-software-training-wmd-grobeeren-848120/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent - Software &amp; Training (w/m/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time][Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 27K-37K</small>
    
</div>
<div class="text-end">
    <small>Großbeeren</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/absolvent-elektrotechnik-all-gender-stuttgart-bw-germany-992175/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Absolvent Elektrotechnik (all gender)</a>
<div class="flex-shrink-0 text-body-secondary"><small>6d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 35K-43K</small>
    
</div>
<div class="text-end">
    <small>Stuttgart, BW, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-it-systemadministration-mwd-hamburg-722523/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent IT Systemadministration (m/w/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 25K-33K</small>
    
</div>
<div class="text-end">
    <small>Hamburg</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/embedded-systems-engineer-mwd-friedrichshafen-germany-834956/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Embedded Systems Engineer (m/w/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 58K-83K</small>
    
</div>
<div class="text-end">
    <small>Friedrichshafen, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/praktikant-digitalisierung-wmx-munchen-by-de-80809-790060/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Praktikant Digitalisierung (w/m/x)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Internship]</small>
    
    
    <small class="text-bg-secondary">EUR 24K-30K</small>
    
</div>
<div class="text-end">
    <small>München, BY, DE, 80809</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-oder-praktikant-in-der-low-code-app-entwicklung-mwd-engomo-gmbh-albstadt-remote-867053/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent oder Praktikant in der Low-Code App-Entwicklung (m/w/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>28d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Internship][Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 36K-63K</small>
    
</div>
<div class="text-end">
    <small>engomo GmbH - Albstadt, Remote <span class="text-success">[R]</span></small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/absolvent-softwareentwicklung-all-gender-stuttgart-bw-germany-968621/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Absolvent Softwareentwicklung (all gender)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 32K-39K</small>
    
</div>
<div class="text-end">
    <small>Stuttgart, BW, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-vorentwicklung-e-mobilitat-wmx-munchen-by-de-80809-747677/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent Vorentwicklung E-Mobilität (w/m/x)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 24K-30K</small>
    
</div>
<div class="text-end">
    <small>München, BY, DE, 80809</small>
</div>
</div>
</li>


</ul>



</div>


</div>
