<title>Senior .NET Developer</title>


<div id="oc_1" hx-swap-oob="false"></div>
<div>


    
    <div class="px-1 border-bottom">
        <h1>
            Senior .NET Developer
        </h1>
    </div>
    
    <div class="px-1 border-bottom">
        <div class="hstack justify-content-between">
            <div>
                
                Maribor, Administrative unit Maribor, Slovenia
                
                
            </div>
            <div>
                <strong>
                    <a href="/hiring/companies/" rel="nofollow">@ ...</a>
                </strong>
            </div>
        </div>
        <div class="hstack justify-content-between">
            <div class="text-body-secondary pe-1">
            [Senior level / Expert]
            <span class="text-warning-emphasis">[~5yoe]</span>
            <br>
            [Full Time]
            


    
        <span class="text-bg-secondary">EUR 38K-72K (estimate)</span>
    


            </div>
            <div>
                <em>
                    Found 1h ago
                </em>
                
            </div>
        </div>
    </div>
    <div class="px-1 border-bottom pb-2">
        <strong>Tasks:</strong>
        <ul class="list-unstyled mb-2">
        <li>* Collaborate with stakeholders on requirements and architecture</li><li>* Design and implement technical solutions for applications</li><li>* Learn and apply new technologies</li><li>* Participate in all development lifecycle phases</li><li>* Promote industry standards and best practices</li><li>* Review team members&#x27; work</li><li>* Share knowledge and participate in tech communities</li>
        </ul>
        <strong>Perks/Benefits:</strong>
        <ul class="list-unstyled mb-2">
        <li>+ Bonuses</li><li>+ Career coaching</li><li>+ Competitive salary</li><li>+ Flexible hours</li><li>+ Global career opportunities</li><li>+ Hobby clubs</li><li>+ Hybrid work</li><li>+ Inclusion programs</li><li>+ Recognition awards</li><li>+ Share plan</li><li>+ Tech communities</li><li>+ Training and certifications</li><li>+ Wellbeing programs</li>
        </ul>
        <strong>Skills/Tech-stack required:</strong>
        <div class="text-primary-emphasis mb-2">
        [Agile methodologies][ASP.NET][AWS GCP][Azure Fundamentals][C#][CI/CD][Cloud Platforms][Cloud Platforms (AWS][Cloud platforms AWS GCP][Design Patterns][DevOps][Entity Framework][Git][GoF][JSON][LINQ][MVVM][.Net Core][.Net Framework][Platform-specific databases][REST][SOLID principles][SQL][Testing Frameworks][Visual Studio]
        </div>
        <strong>Educational requirements:</strong>
        <div class="text-warning-emphasis text-wrap">
        [Bachelor&#x27;s Degree][Master&#x27;s Degree]
        </div>
    </div>
    <div class="px-1 border-bottom d-flex justify-content-between text-muted">
        <div>
            <small>Views: <strong>1</strong></small> &middot;
            <small>Clicks (apply): <strong>0</strong></small>
        </div>
        <div>
            <small>Published: <strong>2025-09-19 06:36 UTC</strong></small>
        </div>
    </div>
    <div class="p-1 border-bottom">
        
        <a class="btn btn-outline-primary btn-sm"
            hx-get="/hiring/jobs/top/"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-replace-url="true"
            hx-on::before-request="event.detail.target.innerHTML = '...'">
            Close
        </a>
        
        <button class="btn btn-outline-primary btn-sm"
            onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/senior-net-developer-maribor-administrative-unit-maribor-slovenia-1061803/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })">
            Copy link
        </button>
        <button class="btn btn-outline-primary btn-sm"
            
            hx-target="#mc_2"
            hx-post="/hiring/jobs/1061803/save/">
            Save
        </button>
        
        <a class="btn btn-primary btn-sm"
            href="/hiring/jobs/ZDm9cqmETDKekUJ/apply/" target="_blank" rel="nofollow">
            Apply
        </a>
        
    </div>

    
    
    <div id="dm_0">

<div class="border-bottom">
<div class="d-flex justify-content-start">
    <div class="border-end px-1 text-bg-light">
        <h3><a href="" class="text-primary"
            hx-get="/hiring/jobs/more/1061803/1/"
            hx-target="#dm_0">
            Similar jobs</a></h3>
    </div>
    <div class="border-end px-1">
        <h3><a href=""
            hx-get="/hiring/jobs/more/1061803/2/"
            hx-target="#dm_0">
            Media</a></h3>
    </div>
</div>
</div>
<ul class="list-group list-group-flush text-break">

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-net-developer-ljubljana-ljubljana-slovenia-922107/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior .NET Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>21d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">EUR 38K-72K</small>
    


</div>
<div class="text-end">
<small>Ljubljana, Ljubljana, Slovenia</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-net-developer-ljubljana-ljubljana-slovenia-1046397/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior .NET Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>2d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">EUR 38K-72K</small>
    


</div>
<div class="text-end">
<small>Ljubljana, Ljubljana, Slovenia</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-net-developer-bucharest-bucharest-romania-1010758/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior .NET Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>7d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 265K-426K</small>
    


</div>
<div class="text-end">
<small>Bucharest, Bucharest, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-net-developer-cluj-napoca-cj-romania-1010755/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior .NET Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>7d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 265K-426K</small>
    


</div>
<div class="text-end">
<small>Cluj-Napoca, CJ, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-net-developer-brasov-bv-romania-859041/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior .NET Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 232K-426K</small>
    


</div>
<div class="text-end">
<small>Brașov, BV, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-net-developer-timisoara-tm-romania-1010757/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior .NET Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>7d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 265K-426K</small>
    


</div>
<div class="text-end">
<small>Timișoara, TM, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-net-developer-timisoara-tm-romania-710352/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior .NET Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 232K-426K</small>
    


</div>
<div class="text-end">
<small>Timișoara, TM, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-net-developer-cluj-napoca-cj-romania-1010756/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior .NET Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>7d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 265K-426K</small>
    


</div>
<div class="text-end">
<small>Cluj-Napoca, CJ, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/net-senior-developer-skopje-sk-macedonia-the-former-yugoslav-republic-of-904752/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">.NET Senior Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>23d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 105K-181K</small>
    


</div>
<div class="text-end">
<small>Skopje, SK, Macedonia, the former Yugoslav …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-fullstack-developer-net-angular-bucharest-bucharest-romania-795456/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Fullstack Developer (.NET, Angular)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 232K-426K</small>
    


</div>
<div class="text-end">
<small>Bucharest, Bucharest, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/seniornet-developer-split-split-dalmatia-county-croatia-859178/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior.NET Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">EUR 37K-72K</small>
    


</div>
<div class="text-end">
<small>Split, Split-Dalmatia County, Croatia</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/seniornet-developer-zagreb-croatia-859180/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior.NET Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">EUR 37K-72K</small>
    


</div>
<div class="text-end">
<small>Zagreb, Croatia</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/seniornet-developer-osijek-osijek-baranja-county-croatia-859179/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior.NET Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">EUR 37K-72K</small>
    


</div>
<div class="text-end">
<small>Osijek, Osijek-Baranja County, Croatia</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/net-developer-sofia-sofia-city-province-bulgaria-760021/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">.NET Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">BGN 57K-79K</small>
    


</div>
<div class="text-end">
<small>Sofia, Sofia City Province, Bulgaria</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/fullstack-developer-net-angular-bucharest-bucharest-romania-786678/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Fullstack Developer (.NET, Angular)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 232K-426K</small>
    


</div>
<div class="text-end">
<small>Bucharest, Bucharest, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-java-developer-sofia-sofia-city-province-bulgaria-774947/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Java Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">BGN 76K-99K</small>
    


</div>
<div class="text-end">
<small>Sofia, Sofia City Province, Bulgaria</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-net-ms-dynamics-developer-cluj-napoca-cj-romania-810431/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior .NET &amp; MS Dynamics Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 232K-426K</small>
    


</div>
<div class="text-end">
<small>Cluj-Napoca, CJ, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-net-ms-dynamics-developer-iasi-is-romania-865864/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior .NET &amp; MS Dynamics Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>30d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 232K-426K</small>
    


</div>
<div class="text-end">
<small>Iași, IS, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-net-ms-dynamics-developer-bucharest-bucharest-romania-810432/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior .NET &amp; MS Dynamics Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 232K-426K</small>
    


</div>
<div class="text-end">
<small>Bucharest, Bucharest, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-net-ms-dynamics-developer-iasi-is-romania-807347/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior .NET &amp; MS Dynamics Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 232K-426K</small>
    


</div>
<div class="text-end">
<small>Iași, IS, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-net-ms-dynamics-developer-chisinau-chisinau-moldova-republic-of-810430/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior .NET &amp; MS Dynamics Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 105K-275K</small>
    


</div>
<div class="text-end">
<small>Chișinău, Chisinau, Moldova, republic of</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-java-developer-timisoara-tm-romania-1011244/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Java Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>7d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 265K-426K</small>
    


</div>
<div class="text-end">
<small>Timișoara, TM, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-java-developer-brasov-bv-romania-859343/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Java Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 232K-426K</small>
    


</div>
<div class="text-end">
<small>Brașov, BV, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-java-developer-iasi-is-romania-754343/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Java Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">RON 232K-426K</small>
    


</div>
<div class="text-end">
<small>Iași, IS, Romania</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/java-tech-lead-sofia-sofia-city-province-bulgaria-929387/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Java Tech Lead</a>
<div class="flex-shrink-0 text-body-secondary"><small>20d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">BGN 76K-104K</small>
    


</div>
<div class="text-end">
<small>Sofia, Sofia City Province, Bulgaria</small>
</div>
</div>
</li>


</ul>



</div>


</div>
