<title>Sr. Technical Product Manager - Payments, Solution Architecture, GenAI</title>


<div id="oc_1" hx-swap-oob="false"></div>
<div>


    
    <div class="px-1 border-bottom">
        <h1>
            Sr. Technical Product Manager - Payments, Solution Architecture, GenAI
        </h1>
    </div>
    
    <div class="px-1 border-bottom">
        <div class="hstack justify-content-between">
            <div>
                
                Austin, TX, United States
                
                
            </div>
            <div>
                <strong>
                    <a href="/hiring/companies/" rel="nofollow">@ ...</a>
                </strong>
            </div>
        </div>
        <div class="hstack justify-content-between">
            <div class="text-body-secondary pe-1">
            [Senior level / Expert]
            <span class="text-warning-emphasis">[~9yoe]</span>
            <br>
            [Full Time]
            


    
        <span class="text-bg-success">USD 143K-207K</span>
    


            </div>
            <div>
                <em>
                    Found 3h ago
                </em>
                
            </div>
        </div>
    </div>
    <div class="px-1 border-bottom pb-2">
        <strong>Tasks:</strong>
        <ul class="list-unstyled mb-2">
        <li>* Act as liaison between technical, business, and external partners</li><li>* Collaborate with teams to translate business needs into technical requirements</li><li>* Define and execute product strategy and roadmap</li><li>* Design and review solution architectures for payment products</li><li>* Ensure compliance with industry standards and regulations</li><li>* Ensure secure and scalable integration of payment systems</li><li>* Generate reporting dashboards and prepare executive reviews</li><li>* Identify opportunities to integrate Generative AI into payment platforms</li><li>* Manage dependencies and mitigate risks</li>
        </ul>
        <strong>Perks/Benefits:</strong>
        <ul class="list-unstyled mb-2">
        <li>+ 401k</li><li>+ Dental</li><li>+ FSA/HSA</li><li>+ Life insurance</li><li>+ Medical</li><li>+ Paid time off</li><li>+ Vision</li><li>+ Wellness program</li>
        </ul>
        <strong>Skills/Tech-stack required:</strong>
        <div class="text-primary-emphasis mb-2">
        [Agile Development][AI integration][API Development][AWS GCP Azure][Cloud Platforms][Cloud Platforms (AWS][Cloud platforms AWS GCP][Cloud platforms AWS GCP Azure][Distributed Systems][Microservices][Payments platform][Payments platform architecture][Platform Architecture][Regulatory Compliance][Regulatory compliance PCI][Regulatory compliance (PCI DSS][Regulatory compliance PCI DSS GDPR PSD2][Solution design][Stakeholder Communication]
        </div>
        <strong>Educational requirements:</strong>
        <div class="text-warning-emphasis text-wrap">
        [Bachelor][JD][Master][MBA][MD]
        </div>
    </div>
    <div class="px-1 border-bottom d-flex justify-content-between text-muted">
        <div>
            <small>Views: <strong>1</strong></small> &middot;
            <small>Clicks (apply): <strong>0</strong></small>
        </div>
        <div>
            <small>Published: <strong>2025-09-19 00:15 UTC</strong></small>
        </div>
    </div>
    <div class="p-1 border-bottom">
        
        <a class="btn btn-outline-primary btn-sm"
            hx-get="/hiring/jobs/top/"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-replace-url="true"
            hx-on::before-request="event.detail.target.innerHTML = '...'">
            Close
        </a>
        
        <button class="btn btn-outline-primary btn-sm"
            onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/sr-technical-product-manager-payments-solution-architecture-genai-austin-tx-united-states-1060344/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })">
            Copy link
        </button>
        <button class="btn btn-outline-primary btn-sm"
            
            hx-target="#mc_2"
            hx-post="/hiring/jobs/1060344/save/">
            Save
        </button>
        
        <a class="btn btn-primary btn-sm"
            href="/hiring/jobs/S0Dg6pNhSyOyLJa/apply/" target="_blank" rel="nofollow">
            Apply
        </a>
        
    </div>

    
    
    <div id="dm_0">

<div class="border-bottom">
<div class="d-flex justify-content-start">
    <div class="border-end px-1 text-bg-light">
        <h3><a href="" class="text-primary"
            hx-get="/hiring/jobs/more/1060344/1/"
            hx-target="#dm_0">
            Similar jobs</a></h3>
    </div>
    <div class="border-end px-1">
        <h3><a href=""
            hx-get="/hiring/jobs/more/1060344/2/"
            hx-target="#dm_0">
            Media</a></h3>
    </div>
</div>
</div>
<ul class="list-group list-group-flush text-break">

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-genai-bellevue-wa-united-states-1022779/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer - GenAI</a>
<div class="flex-shrink-0 text-body-secondary"><small>6d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 105K-149K</small>
    


</div>
<div class="text-end">
<small>Bellevue, WA, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-software-engineer-genai-bellevue-wa-united-states-1042774/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Software Engineer - GenAI</a>
<div class="flex-shrink-0 text-body-secondary"><small>2d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 105K-149K</small>
    


</div>
<div class="text-end">
<small>Bellevue, WA, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-manager-ai-partnerships-san-francisco-ca-united-states-1005504/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Manager, AI Partnerships</a>
<div class="flex-shrink-0 text-body-secondary"><small>8d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 159K-230K</small>
    


</div>
<div class="text-end">
<small>San Francisco, CA, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/sr-product-manager-foster-city-ca-united-states-1046850/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Sr. Product Manager</a>
<div class="flex-shrink-0 text-body-secondary"><small>3d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 159K-230K</small>
    


</div>
<div class="text-end">
<small>Foster City, CA, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/sr-director-principal-product-manager-aiml-platforms-austin-tx-united-states-905322/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Sr. Director, Principal Product Manager – AI/ML Platforms</a>
<div class="flex-shrink-0 text-body-secondary"><small>23d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EX]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 191K-332K</small>
    


</div>
<div class="text-end">
<small>Austin, TX, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/sr-director-principal-product-manager-aiml-platforms-bellevue-wa-united-states-905323/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Sr. Director, Principal Product Manager – AI/ML Platforms</a>
<div class="flex-shrink-0 text-body-secondary"><small>23d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EX]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 191K-332K</small>
    


</div>
<div class="text-end">
<small>Bellevue, WA, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/sr-director-principal-product-manager-aiml-platforms-foster-city-ca-united-states-895520/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Sr. Director, Principal Product Manager – AI/ML Platforms</a>
<div class="flex-shrink-0 text-body-secondary"><small>24d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EX]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 191K-332K</small>
    


</div>
<div class="text-end">
<small>Foster City, CA, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/lead-software-engineer-ai-highlands-ranch-co-united-states-954501/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Lead Software Engineer - AI</a>
<div class="flex-shrink-0 text-body-secondary"><small>15d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EX]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 163K-237K</small>
    


</div>
<div class="text-end">
<small>Highlands Ranch, CO, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/lead-software-engineer-ai-highlands-ranch-co-united-states-942956/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Lead Software Engineer - AI</a>
<div class="flex-shrink-0 text-body-secondary"><small>16d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EX]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 165K-237K</small>
    


</div>
<div class="text-end">
<small>Highlands Ranch, CO, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/engineering-manager-software-engineering-hybridonsite-austin-tx-united-states-907369/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Engineering Manager - Software Engineering (Hybrid/Onsite)</a>
<div class="flex-shrink-0 text-body-secondary"><small>23d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 131K-190K</small>
    


</div>
<div class="text-end">
<small>Austin, TX, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/chief-software-engineer-austin-tx-united-states-956965/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Chief Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>15d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EX]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 184K-267K</small>
    


</div>
<div class="text-end">
<small>Austin, TX, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/chief-software-engineer-bellevue-wa-united-states-956958/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Chief Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>15d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EX]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 184K-267K</small>
    


</div>
<div class="text-end">
<small>Bellevue, WA, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/chief-software-engineer-foster-city-ca-united-states-956959/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Chief Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>15d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EX]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 204K-296K</small>
    


</div>
<div class="text-end">
<small>Foster City, CA, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-sr-consultant-crypto-program-foster-city-ca-united-states-988253/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer - Sr Consultant, Crypto Program</a>
<div class="flex-shrink-0 text-body-secondary"><small>10d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 159K-230K</small>
    


</div>
<div class="text-end">
<small>Foster City, CA, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-software-engineer-data-engineering-hybridonsite-austin-tx-united-states-919948/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff Software Engineer - Data Engineering (Hybrid/Onsite)</a>
<div class="flex-shrink-0 text-body-secondary"><small>21d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">USD 112K-198K</small>
    


</div>
<div class="text-end">
<small>Austin, TX, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/lead-software-engineer-foster-city-ca-united-states-942962/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Lead Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>16d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EX]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 178K-258K</small>
    


</div>
<div class="text-end">
<small>Foster City, CA, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-sr-consultant-level-foster-city-ca-united-states-1034263/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer - Sr. Consultant level</a>
<div class="flex-shrink-0 text-body-secondary"><small>3d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 191K-245K</small>
    


</div>
<div class="text-end">
<small>Foster City, CA, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-sr-consultant-level-foster-city-ca-united-states-954496/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer - Sr. Consultant level</a>
<div class="flex-shrink-0 text-body-secondary"><small>15d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 191K-245K</small>
    


</div>
<div class="text-end">
<small>Foster City, CA, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-sr-consultant-level-austin-tx-united-states-1036515/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer - Sr. Consultant level</a>
<div class="flex-shrink-0 text-body-secondary"><small>3d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 152K-220K</small>
    


</div>
<div class="text-end">
<small>Austin, TX, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-highlands-ranch-co-united-states-1045357/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>2d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EN]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 79K-113K</small>
    


</div>
<div class="text-end">
<small>Highlands Ranch, CO, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/sr-sw-engineer-austin-tx-united-states-943000/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Sr. SW Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>16d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 105K-149K</small>
    


</div>
<div class="text-end">
<small>Austin, TX, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/lead-machine-learning-engineer-austin-tx-united-states-751671/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Lead Machine Learning Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EX]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 175K-253K</small>
    


</div>
<div class="text-end">
<small>Austin, TX, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/staff-software-engineer-crypto-program-hybridonsite-foster-city-ca-united-states-954497/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Staff Software Engineer - Crypto Program (Hybrid/Onsite)</a>
<div class="flex-shrink-0 text-body-secondary"><small>15d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 138K-200K</small>
    


</div>
<div class="text-end">
<small>Foster City, CA, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/manager-visa-consulting-and-analytics-vca-visa-implementation-services-vis-san-juan-pr-united-states-946663/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Manager, Visa Consulting and Analytics (VCA), Visa Implementation Services (VIS)</a>
<div class="flex-shrink-0 text-body-secondary"><small>16d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 125K</small>
    


</div>
<div class="text-end">
<small>San Juan, PR, United States</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-net-highlands-ranch-co-united-states-1044756/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer - .Net</a>
<div class="flex-shrink-0 text-body-secondary"><small>2d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EN]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">USD 79K-113K</small>
    


</div>
<div class="text-end">
<small>Highlands Ranch, CO, United States</small>
</div>
</div>
</li>


</ul>



</div>


</div>
