<title>Senior AI Engineer (m/w/d)</title>

<div id="oc_1" hx-swap-oob="false"></div>
<div>
  <div class="px-1 border-bottom">
    <h1>Senior AI Engineer (m/w/d)</h1>
  </div>

  <div class="px-1 border-bottom">
    <div class="hstack justify-content-between">
      <div>Hamburg, Hamburg, DE, 22297</div>
      <div>
        <strong>
          <a href="/hiring/companies/" rel="nofollow">@ ...</a>
        </strong>
      </div>
    </div>
    <div class="hstack justify-content-between">
      <div class="text-body-secondary pe-1">
        [Senior level / Expert]
        <span class="text-warning-emphasis">[~3yoe]</span>
        <br />
        [Full Time]

        <span class="text-bg-secondary">EUR 64K-88K (estimate)</span>
      </div>
      <div>
        <em> Found 2h ago </em>
      </div>
    </div>
  </div>
  <div class="px-1 border-bottom pb-2">
    <strong>Tasks:</strong>
    <ul class="list-unstyled mb-2">
      <li>* Advise stakeholders on AI applications</li>
      <li>* Collaborate with business teams to create scalable solutions</li>
      <li>* Continuously improve AI agent performance</li>
      <li>* Design and develop advanced AI agents</li>
      <li>
        * Implement and optimize AI solutions using open-source frameworks
      </li>
      <li>* Translate business needs into AI projects</li>
    </ul>
    <strong>Perks/Benefits:</strong>
    <ul class="list-unstyled mb-2">
      <li>+ 30 days vacation</li>
      <li>+ Cafeteria and drinks</li>
      <li>+ Childcare</li>
      <li>+ Company Kindergarten</li>
      <li>+ Corporate benefits</li>
      <li>+ E-learning</li>
      <li>+ Employee discounts</li>
      <li>+ EU remote work up to 10 days</li>
      <li>+ Fahrradleasing</li>
      <li>+ Fahrtkostenzuschuss</li>
      <li>+ Family services</li>
      <li>+ Fitness Center</li>
      <li>+ Flexible working hours</li>
      <li>+ Good transport links</li>
      <li>+ Hybrid work options</li>
      <li>+ Monthly coffee</li>
      <li>+ Seminars and training</li>
      <li>+ Sports courses</li>
      <li>+ Swimming Pool</li>
    </ul>
    <strong>Skills/Tech-stack required:</strong>
    <div class="text-primary-emphasis mb-2">
      [Agent Development][Agile Mindset][AI Agent][AI Agent Development][AI
      frameworks][AI Implementation][AI Optimization][CloudRun][Communication
      skills][Communication skills in German][Communication skills in German and
      English][Continuous Learning][Deep Agents][GCP][Generative
      AI][Langchain][Langgraph][LLMs][LLM SDKs][Problem
      Solving][Python][React][Stakeholder management][Technology
      Exploration][Vertex AI]
    </div>
    <strong>Educational requirements:</strong>
    <div class="text-warning-emphasis text-wrap">
      [AI][Bachelor][Computer Science][Data Science][Master][PhD in Informatics]
    </div>
  </div>
  <div class="px-1 border-bottom d-flex justify-content-between text-muted">
    <div>
      <small>Views: <strong>1</strong></small> &middot;
      <small>Clicks (apply): <strong>0</strong></small>
    </div>
    <div>
      <small>Published: <strong>2025-09-19 06:02 UTC</strong></small>
    </div>
  </div>
  <div class="p-1 border-bottom">
    <a
      class="btn btn-outline-primary btn-sm"
      hx-get="/hiring/jobs/top/"
      hx-target="#mc_2"
      hx-swap="scroll:top"
      hx-replace-url="true"
      hx-on::before-request="event.detail.target.innerHTML = '...'"
    >
      Close
    </a>

    <button
      class="btn btn-outline-primary btn-sm"
      onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/senior-ai-engineer-mwd-hamburg-hamburg-de-22297-1061830/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })"
    >
      Copy link
    </button>
    <button
      class="btn btn-outline-primary btn-sm"
      hx-target="#mc_2"
      hx-post="/hiring/jobs/1061830/save/"
    >
      Save
    </button>

    <a
      class="btn btn-primary btn-sm"
      href="/hiring/jobs/TenhzOG0S3a5Br7/apply/"
      target="_blank"
      rel="nofollow"
    >
      Apply
    </a>
  </div>

  <div id="dm_0">
    <div class="border-bottom">
      <div class="d-flex justify-content-start">
        <div class="border-end px-1 text-bg-light">
          <h3>
            <a
              href=""
              class="text-primary"
              hx-get="/hiring/jobs/more/1061830/1/"
              hx-target="#dm_0"
            >
              Similar jobs</a
            >
          </h3>
        </div>
        <div class="border-end px-1">
          <h3>
            <a href="" hx-get="/hiring/jobs/more/1061830/2/" hx-target="#dm_0">
              Media</a
            >
          </h3>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush text-break">
      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-cloud-engineer-ai-platform-mwd-hamburg-hamburg-de-22297-1053860/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior Cloud Engineer (AI Platform) (m/w/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 67K-88K</small>
          </div>
          <div class="text-end">
            <small>Hamburg, Hamburg, DE, 22297</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/engineering-manager-mwd-webshop-frontend-hamburg-hamburg-de-22297-959239/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Engineering Manager (m/w/d) Webshop Frontend</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>15d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 58K-88K</small>
          </div>
          <div class="text-end">
            <small>Hamburg, Hamburg, DE, 22297</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/principal-cloud-devops-engineer-mwd-hamburg-hamburg-de-22297-956438/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Principal Cloud DevOps Engineer (m/w/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>15d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 54K-88K</small>
          </div>
          <div class="text-end">
            <small>Hamburg, Hamburg, DE, 22297</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-cloud-devops-engineer-mwd-hamburg-hamburg-de-22297-956437/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior Cloud DevOps Engineer (m/w/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>15d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 51K-88K</small>
          </div>
          <div class="text-end">
            <small>Hamburg, Hamburg, DE, 22297</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/werkstudent-projektmanagement-digitale-transformation-mwd-hamburg-hamburg-de-22297-959235/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Werkstudent Projektmanagement &amp; Digitale Transformation
            (m/w/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>15d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[EN]</small
            ><small class="text-body-secondary">[Part Time]</small>

            <small class="text-bg-secondary">EUR 23K-28K</small>
          </div>
          <div class="text-end">
            <small>Hamburg, Hamburg, DE, 22297</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/werkstudent-software-engineer-mwd-hamburg-hamburg-de-22297-996948/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Werkstudent Software Engineer (m/w/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>9d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[EN]</small
            ><small class="text-body-secondary">[Part Time]</small>

            <small class="text-bg-secondary">EUR 23K-28K</small>
          </div>
          <div class="text-end">
            <small>Hamburg, Hamburg, DE, 22297</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/werkstudent-arbeitssicherheit-schulung-digitalisierung-mwd-hamburg-hamburg-de-20537-959237/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Werkstudent Arbeitssicherheit, Schulung &amp; Digitalisierung
            (m/w/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>15d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[EN]</small
            ><small class="text-body-secondary">[Part Time]</small>

            <small class="text-bg-secondary">EUR 23K-28K</small>
          </div>
          <div class="text-end">
            <small>Hamburg, Hamburg, DE, 20537</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/werkstudent-controlling-planning-allocation-coffee-preparation-systems-mwd-hamburg-hamburg-de-22297-959238/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Werkstudent Controlling, Planning &amp; Allocation Coffee /
            Preparation Systems (m/w/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>15d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[EN]</small
            ><small class="text-body-secondary">[Part Time]</small>

            <small class="text-bg-secondary">EUR 13K-23K</small>
          </div>
          <div class="text-end">
            <small>Hamburg, Hamburg, DE, 22297</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/systemadministrator-wmd-hamburg-hamburg-de-20537-958839/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Systemadministrator (w/m/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>15d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 23K-28K</small>
          </div>
          <div class="text-end">
            <small>Hamburg, Hamburg, DE, 20537</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-ai-solutions-engineer-mwd-munchen-853266/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior AI Solutions Engineer (m/w/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-success">EUR 75K-85K</small>
          </div>
          <div class="text-end">
            <small>München</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-ai-consultant-all-genders-leipzig-1009625/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >(Senior) AI Consultant (all genders)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>8d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 49K-64K</small>
          </div>
          <div class="text-end">
            <small>Leipzig</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-ai-engineer-mwd-gutersloh-nw-de-33311-1008052/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior AI Engineer (m/w/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>8d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 67K-89K</small>
          </div>
          <div class="text-end">
            <small>Gütersloh, NW, DE, 33311</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-ai-consultant-all-genders-koln-1009627/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >(Senior) AI Consultant (all genders)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>8d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 49K-66K</small>
          </div>
          <div class="text-end">
            <small>Köln</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-ai-consultant-all-genders-munchen-1009630/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >(Senior) AI Consultant (all genders)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>8d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 49K-66K</small>
          </div>
          <div class="text-end">
            <small>München</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-ai-consultant-all-genders-hamburg-1009628/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >(Senior) AI Consultant (all genders)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>8d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 49K-66K</small>
          </div>
          <div class="text-end">
            <small>Hamburg</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-ai-consultant-all-genders-berlin-1009629/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >(Senior) AI Consultant (all genders)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>8d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 49K-66K</small>
          </div>
          <div class="text-end">
            <small>Berlin</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-ai-consultant-all-genders-mainz-1009626/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >(Senior) AI Consultant (all genders)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>8d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 49K-73K</small>
          </div>
          <div class="text-end">
            <small>Mainz</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-software-engineer-ai-specialist-wurzburg-853603/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior Software Engineer / AI-Specialist</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-success">EUR 75K-85K</small>
          </div>
          <div class="text-end">
            <small>Würzburg</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/ai-engineer-mwd-gutersloh-nw-de-33311-1008051/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >AI Engineer (m/w/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>8d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 64K-89K</small>
          </div>
          <div class="text-end">
            <small>Gütersloh, NW, DE, 33311</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-ai-engineer-mwd-munchen-hybrid-977373/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >(Senior) AI Engineer (m/w/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>13d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 56K-82K</small>
          </div>
          <div class="text-end">
            <small>München, hybrid</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-projektmanager-client-success-wmd-koln-dortmund-1031043/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >(Senior) Projektmanager - Client Success (w/m/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>5d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 43K-67K</small>
          </div>
          <div class="text-end">
            <small>Köln, Dortmund</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/ai-engineer-mwd-kennelbach-at-6921-961871/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >AI Engineer (m/w/d)*</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>14d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[EN]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-success">EUR 37K</small>
          </div>
          <div class="text-end">
            <small>Kennelbach, AT, 6921</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/ai-strategy-consultant-mwd-munchen-959124/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >AI Strategy Consultant (m/w/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>16d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[EN]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 43K-59K</small>
          </div>
          <div class="text-end">
            <small>München</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-python-engineerin-mit-schwerpunkt-genai-wdm-munchen-771034/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior Python Engineer*in mit Schwerpunkt GenAI (w/d/m)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-success">EUR 70K-85K</small>
          </div>
          <div class="text-end">
            <small>München</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/ai-solutions-engineer-wmd-mainz-933626/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >AI Solutions Engineer (w/m/d)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>24d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">EUR 54K-88K</small>
          </div>
          <div class="text-end">
            <small>Mainz</small>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
