



<div>


    
    <div class="px-1 border-bottom">
        <h1>
            Doktorand*in Color Consistency and Automated White Balancing (d/m/w) - befristet für 3 Jahre
        </h1>
    </div>
    
    <div class="px-1 border-bottom">
        <div class="hstack justify-content-between">
            <div>
                
                Jena, DE, 07745
                
                
            </div>
            <div>
                <strong>
                    <a href="/hiring/companies/" rel="nofollow">@ ...</a>
                </strong>
            </div>
        </div>
        <div class="hstack justify-content-between">
            <div class="text-body-secondary pe-1">
            [Mid-level / Intermediate]
            <span class="text-warning-emphasis">[~3yoe]</span>
            <br>
            [Temporary]
            
            
            <span class="text-bg-secondary">EUR 27K-37K (estimate)</span>
            
            </div>
            <div>
                <em>
                    Found 1h ago
                </em>
                
            </div>
        </div>
    </div>
    <div class="px-1 border-bottom pb-2">
        <strong>Tasks:</strong>
        <ul class="list-unstyled mb-2">
        <li>* Collect data and test in various lighting scenarios</li><li>* Compare algorithms and systems</li><li>* Conduct literature review and integrate algorithms</li><li>* Create image pipeline</li><li>* Develop and compare image processing algorithms</li><li>* Optimize system for white balance in camera images</li><li>* Simulate sensors and optimize performance</li>
        </ul>
        <strong>Perks/Benefits:</strong>
        <ul class="list-unstyled mb-2">
        N/A
        </ul>
        <strong>Skills/Tech-stack required:</strong>
        <div class="text-primary-emphasis mb-2">
        [Algorithm Optimization][Computer Vision][Digital Image Processing][Image Processing][Machine Learning][MATLAB][Python][Sensor Simulation][Spectral sensors]
        </div>
        <strong>Educational requirements:</strong>
        <div class="text-warning-emphasis text-wrap">
        [Master’s degree in computer science][Master's Degree in Electrical Engineering][Master's degree in Physics]
        </div>
    </div>
    <div class="p-1 border-bottom">
        
        <a class="btn btn-outline-primary btn-sm" hx-get="/hiring/jobs/top/" hx-target="#mc_2" hx-swap="scroll:top" hx-replace-url="true" hx-on::before-request="event.detail.target.innerHTML = '...'">
            Close
        </a>
        
        <button class="btn btn-outline-primary btn-sm" onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/doktorandin-color-consistency-and-automated-white-balancing-dmw-befristet-fur-3-jahre-jena-de-07745-1037705/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })">
            Copy link
        </button>
        <button class="btn btn-outline-primary btn-sm" hx-target="#mc_2" hx-post="/hiring/jobs/1037705/save/">
            Save
        </button>
        
        <a class="btn btn-primary btn-sm" href="/hiring/jobs/tJBum7ROq8qRjiE/apply/" target="_blank" rel="nofollow">
            Apply
        </a>
        
    </div>

    
    
    <div id="dm_0">

<div class="border-bottom">
<div class="d-flex justify-content-start">
    <div class="border-end px-1 text-bg-light">
        <h3><a href="" class="text-primary" hx-get="/hiring/jobs/more/1037705/1/" hx-target="#dm_0">
            Similar jobs</a></h3>
    </div>
    <div class="border-end px-1">
        <h3><a href="" hx-get="/hiring/jobs/more/1037705/2/" hx-target="#dm_0">
            Media</a></h3>
    </div>
</div>
</div>
<ul class="list-group list-group-flush text-break">

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/staff-engineer-ic-validation-dmw-jena-de-07745-960226/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Staff Engineer IC Validation (d/m/w)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 47K-66K</small>
    
</div>
<div class="text-end">
    <small>Jena, DE, 07745</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-in-dmw-im-bereich-engineering-manufacturing-data-engineering-schwabmuenchen-de-86830-968754/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent *in (d/m/w) im Bereich Engineering - Manufacturing Data Engineering</a>
<div class="flex-shrink-0 text-body-secondary"><small>10d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 23K-33K</small>
    
</div>
<div class="text-end">
    <small>Schwabmuenchen, DE, 86830</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/defect-engineer-dmw-premstaetten-at-8141-960231/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Defect Engineer (d/m/w)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 39K-52K</small>
    
</div>
<div class="text-end">
    <small>Premstaetten, AT, 8141</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/internship-logistics-data-analytics-mfd-premstaetten-at-8141-960450/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Internship - Logistics Data Analytics (m/f/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Internship]</small>
    
    
    <small class="text-bg-secondary">EUR 37K-48K</small>
    
</div>
<div class="text-end">
    <small>Premstaetten, AT, 8141</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/internship-system-solution-engineering-mfd-premstaetten-at-8141-961658/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Internship - System Solution Engineering (m/f/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Internship]</small>
    
    
    <small class="text-bg-secondary">EUR 24K-30K</small>
    
</div>
<div class="text-end">
    <small>Premstaetten, AT, 8141</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/it-infrastructure-support-engineer-dmw-premstaetten-at-8141-960017/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">IT Infrastructure Support Engineer (d/m/w)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 41K-50K</small>
    
</div>
<div class="text-end">
    <small>Premstaetten, AT, 8141</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/digital-design-engineer-dmw-jena-de-07745-961657/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Digital Design Engineer (d/m/w)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 55K-67K</small>
    
</div>
<div class="text-end">
    <small>Jena, DE, 07745</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/it-infrastructure-support-engineer-dmf-premstaetten-at-8141-960016/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">IT Infrastructure Support Engineer (d/m/f)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 41K-50K</small>
    
</div>
<div class="text-end">
    <small>Premstaetten, AT, 8141</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/defect-engineer-dmf-premstaetten-at-8141-961660/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Defect Engineer (d/m/f)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 52K-64K</small>
    
</div>
<div class="text-end">
    <small>Premstaetten, AT, 8141</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/staff-engineer-ic-validation-dmf-jena-de-07745-960225/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Staff Engineer IC Validation (d/m/f)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 54K-75K</small>
    
</div>
<div class="text-end">
    <small>Jena, DE, 07745</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/gf-trainees-and-interns-premstaetten-at-8141-960228/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">GF Trainees and Interns</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Internship]</small>
    
    
    <small class="text-bg-secondary">EUR 30K-37K</small>
    
</div>
<div class="text-end">
    <small>Premstaetten, AT, 8141</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/abschlussarbeit-rekonstruktion-hyperspektraler-bilder-aus-unterabgetasteten-aufnahmen-karlsruhe-de-76131-842073/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Abschlussarbeit: Rekonstruktion hyperspektraler Bilder aus unterabgetasteten Aufnahmen</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 13K-17K</small>
    
</div>
<div class="text-end">
    <small>Karlsruhe, DE, 76131</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/masterarbeit-zuverlassigkeitsanalyse-akustischer-mems-sensoren-cottbus-de-03046-716865/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Masterarbeit: Zuverlässigkeitsanalyse akustischer MEMS-Sensoren</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 13K-17K</small>
    
</div>
<div class="text-end">
    <small>Cottbus, DE, 03046</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/masterarbeit-in-engineering-solutions-bilddatenanalyse-mwx-aalen-germany-1023223/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Masterarbeit in Engineering Solutions - Bilddatenanalyse (m/w/x)</a>
<div class="flex-shrink-0 text-body-secondary"><small>4d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 25K-33K</small>
    
</div>
<div class="text-end">
    <small>Aalen, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/masterand-im-bereich-maschinelles-lernen-wmd-ulm-de-89077-892032/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Masterand im Bereich Maschinelles Lernen (w/m/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 63K-77K</small>
    
</div>
<div class="text-end">
    <small>Ulm, DE, 89077</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/masterand-im-bereich-maschinelles-lernen-wmd-ulm-de-89077-892031/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Masterand im Bereich Maschinelles Lernen (w/m/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 63K-77K</small>
    
</div>
<div class="text-end">
    <small>Ulm, DE, 89077</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/wissenschaftlerin-nachrichtentechnik-adaptive-optik-laserkommunikation-ettlingen-de-76275-875583/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Wissenschaftler*in Nachrichtentechnik - Adaptive Optik &amp; Laserkommunikation</a>
<div class="flex-shrink-0 text-body-secondary"><small>27d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 13K-17K</small>
    
</div>
<div class="text-end">
    <small>Ettlingen, DE, 76275</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/solution-architect-web-ecommerce-dmf-funchal-pt-9020-105-959921/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Solution Architect - Web &amp; eCommerce (d/m/f)</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 63K-77K</small>
    
</div>
<div class="text-end">
    <small>Funchal, PT, 9020-105</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/studienarbeit-im-bereich-der-optischen-sensorentwicklung-koordinatenmesstechnik-mwd-oberkochen-germany-834946/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Studienarbeit im Bereich der optischen Sensorentwicklung - Koordinatenmesstechnik (m/w/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 72K-89K</small>
    
</div>
<div class="text-end">
    <small>Oberkochen, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/werkstudent-fur-elektrophysikalische-software-in-python-all-genders-dresden-de-01109-767124/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent für elektrophysikalische Software in Python (all genders)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 13K-24K</small>
    
</div>
<div class="text-end">
    <small>Dresden, DE, 01109</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/masterarbeit-smarte-datenprozessierung-von-3d-punktwolken-freiburg-de-79110-732976/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Masterarbeit - Smarte Datenprozessierung von 3D-Punktwolken</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 13K-17K</small>
    
</div>
<div class="text-end">
    <small>Freiburg, DE, 79110</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/working-student-master-thesis-sensor-availability-fmd-ingolstadt-de-85053-743436/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Working Student / Master Thesis - Sensor Availability (f/m/d)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 23K-33K</small>
    
</div>
<div class="text-end">
    <small>Ingolstadt, DE, 85053</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/wissenschaftlerin-fur-adaptive-optik-ettlingen-de-76275-875660/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Wissenschaftler*in für Adaptive Optik</a>
<div class="flex-shrink-0 text-body-secondary"><small>27d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 27K-37K</small>
    
</div>
<div class="text-end">
    <small>Ettlingen, DE, 76275</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/software-engineer-mwx-befristet-fur-2-jahre-oberkochen-germany-856873/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer (m/w/x) - befristet für 2 Jahre</a>
<div class="flex-shrink-0 text-body-secondary"><small>29d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time][Temporary]</small>
    
    
    <small class="text-bg-secondary">EUR 70K-89K</small>
    
</div>
<div class="text-end">
    <small>Oberkochen, Germany</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href="" data-bs-dismiss="offcanvas" data-bs-target="#oc_1" hx-get="/hiring/jobs/it-systemadministratorin-fur-wissenschaftliche-it-infrastruktur-ettlingen-de-76275-753527/" hx-replace-url="true" hx-target="#mc_2" hx-swap="scroll:top" hx-on::before-request="event.detail.target.innerHTML = '...'">IT-Systemadministrator*in für wissenschaftliche IT-Infrastruktur</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 27K-44K</small>
    
</div>
<div class="text-end">
    <small>Ettlingen, DE, 76275</small>
</div>
</div>
</li>


</ul>



</div>


</div>
