<title>Operations Analytics</title>

<div id="oc_1" hx-swap-oob="false"></div>
<div>
  <div class="px-1 border-bottom">
    <h1>Operations Analytics</h1>
  </div>

  <div class="px-1 border-bottom">
    <div class="hstack justify-content-between">
      <div>Jakarta, Indonesia</div>
      <div>
        <strong>
          <a href="/hiring/companies/" rel="nofollow">@ ...</a>
        </strong>
      </div>
    </div>
    <div class="hstack justify-content-between">
      <div class="text-body-secondary pe-1">
        [Mid-level / Intermediate]
        <span class="text-warning-emphasis">[~3yoe]</span>
        <br />
        [Full Time]
      </div>
      <div>
        <em> Found 2h ago </em>
      </div>
    </div>
  </div>
  <div class="px-1 border-bottom pb-2">
    <strong>Tasks:</strong>
    <ul class="list-unstyled mb-2">
      <li>* Conduct deep dive analyses</li>
      <li>* Create automation solutions</li>
      <li>* Manage data infrastructure and dashboards</li>
      <li>* Perform fuzzy matching analysis</li>
    </ul>
    <strong>Perks/Benefits:</strong>
    <ul class="list-unstyled mb-2">
      <li>+ Assistance program</li>
      <li>+ Birthday leave</li>
      <li>+ Flexible benefits</li>
      <li>+ Flexible work hours</li>
      <li>+ Life insurance</li>
      <li>+ Medical insurance</li>
      <li>+ Parental leave</li>
      <li>+ Volunteering leave</li>
    </ul>
    <strong>Skills/Tech-stack required:</strong>
    <div class="text-primary-emphasis mb-2">
      [Business Intelligence][Data Analysis][Data analytics][Data
      Automation][Data Visualization][Power BI][Python][SQL]
    </div>
    <strong>Educational requirements:</strong>
    <div class="text-warning-emphasis text-wrap">[Bachelor&#x27;s Degree]</div>
  </div>
  <div class="px-1 border-bottom d-flex justify-content-between text-muted">
    <div>
      <small>Views: <strong>1</strong></small> &middot;
      <small>Clicks (apply): <strong>0</strong></small>
    </div>
    <div>
      <small>Published: <strong>2025-09-19 06:13 UTC</strong></small>
    </div>
  </div>
  <div class="p-1 border-bottom">
    <a
      class="btn btn-outline-primary btn-sm"
      hx-get="/hiring/jobs/top/"
      hx-target="#mc_2"
      hx-swap="scroll:top"
      hx-replace-url="true"
      hx-on::before-request="event.detail.target.innerHTML = '...'"
    >
      Close
    </a>

    <button
      class="btn btn-outline-primary btn-sm"
      onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/operations-analytics-jakarta-indonesia-1061843/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })"
    >
      Copy link
    </button>
    <button
      class="btn btn-outline-primary btn-sm"
      hx-target="#mc_2"
      hx-post="/hiring/jobs/1061843/save/"
    >
      Save
    </button>

    <a
      class="btn btn-primary btn-sm"
      href="/hiring/jobs/YqpU3G5dTSqeDM8/apply/"
      target="_blank"
      rel="nofollow"
    >
      Apply
    </a>
  </div>

  <div id="dm_0">
    <div class="border-bottom">
      <div class="d-flex justify-content-start">
        <div class="border-end px-1 text-bg-light">
          <h3>
            <a
              href=""
              class="text-primary"
              hx-get="/hiring/jobs/more/1061843/1/"
              hx-target="#dm_0"
            >
              Similar jobs</a
            >
          </h3>
        </div>
        <div class="border-end px-1">
          <h3>
            <a href="" hx-get="/hiring/jobs/more/1061843/2/" hx-target="#dm_0">
              Media</a
            >
          </h3>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush text-break">
      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/data-analyst-associate-jakarta-indonesia-939228/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Data Analyst Associate</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>17d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">IDR 97200K-145200K</small>
          </div>
          <div class="text-end">
            <small>Jakarta, Indonesia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-data-scientist-analytics-business-platform-jakarta-indonesia-836472/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior Data Scientist (Analytics), Business Platform</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">IDR 97200K-145200K</small>
          </div>
          <div class="text-end">
            <small>Jakarta, Indonesia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-data-analyst-petaling-jaya-selangor-malaysia-803960/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior Data Analyst</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">USD 115K-187K</small>
          </div>
          <div class="text-end">
            <small>Petaling Jaya, Selangor, Malaysia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-business-analyst-regional-coe-jakarta-indonesia-971392/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior Business Analyst, Regional COE</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>14d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">IDR 97200K-145200K</small>
          </div>
          <div class="text-end">
            <small>Jakarta, Indonesia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/assistant-manager-performance-management-analytics-petaling-jaya-selangor-malaysia-867290/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Assistant Manager, Performance Management &amp; Analytics</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>30d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">MYR 81K-110K</small>
          </div>
          <div class="text-end">
            <small>Petaling Jaya, Selangor, Malaysia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-data-scientist-analytics-singapore-singapore-1030093/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior Data Scientist (Analytics)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>4d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">SGD 118K-178K</small>
          </div>
          <div class="text-end">
            <small>Singapore, Singapore</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/data-intelligence-specialist-jakarta-indonesia-770929/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Data Intelligence Specialist</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">IDR 32400K-66000K</small>
          </div>
          <div class="text-end">
            <small>Jakarta, Indonesia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-product-analyst-singapore-singapore-1031014/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior Product Analyst</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>4d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">SGD 108K-176K</small>
          </div>
          <div class="text-end">
            <small>Singapore, Singapore</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-data-scientist-analytics-hcmc-vietnam-1010807/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior Data Scientist (Analytics)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>7d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">USD 124K-326K</small>
          </div>
          <div class="text-end">
            <small>HCMC, Vietnam</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/sp-grabmart-and-business-intelligence-assistant-manager-jakarta-indonesia-950132/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >S&amp;P GrabMart and Business Intelligence, Assistant Manager</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>16d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>
          </div>
          <div class="text-end">
            <small>Jakarta, Indonesia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/product-operations-manager-hcmc-vietnam-770896/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Product Operations Manager</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">USD 108K-165K</small>
          </div>
          <div class="text-end">
            <small>HCMC, Vietnam</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/product-operations-manager-automation-optimization-hcmc-vietnam-841993/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Product Operations Manager – Automation &amp; Optimization</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">USD 94K-159K</small>
          </div>
          <div class="text-end">
            <small>HCMC, Vietnam</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/product-operations-manager-petaling-jaya-malaysia-770897/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Product Operations Manager</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">USD 108K-165K</small>
          </div>
          <div class="text-end">
            <small>Petaling Jaya, Malaysia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/product-operations-manager-automation-optimization-petaling-jaya-malaysia-841994/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Product Operations Manager – Automation &amp; Optimization</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">USD 92K-156K</small>
          </div>
          <div class="text-end">
            <small>Petaling Jaya, Malaysia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/manager-4w-mobility-and-operations-pasig-city-philippines-823006/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Manager, 4W Mobility and Operations</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Contract][Full Time]</small>

            <small class="text-bg-secondary">PHP 324K-429K</small>
          </div>
          <div class="text-end">
            <small>Pasig City, Philippines</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/product-operations-manager-automation-optimization-jakarta-indonesia-841992/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Product Operations Manager – Automation &amp; Optimization</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">IDR 32400K-66000K</small>
          </div>
          <div class="text-end">
            <small>Jakarta, Indonesia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/assistant-manager-performance-management-nps-petaling-jaya-selangor-malaysia-798252/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Assistant Manager, Performance Management (NPS)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">MYR 81K-110K</small>
          </div>
          <div class="text-end">
            <small>Petaling Jaya, Selangor, Malaysia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/assistant-manager-performance-management-nps-petaling-jaya-selangor-malaysia-850735/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Assistant Manager, Performance Management (NPS)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[MI]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">MYR 81K-110K</small>
          </div>
          <div class="text-end">
            <small>Petaling Jaya, Selangor, Malaysia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-data-scientist-petaling-jaya-selangor-malaysia-1054143/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior Data Scientist</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>2d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">USD 129K-227K</small>
          </div>
          <div class="text-end">
            <small>Petaling Jaya, Selangor, Malaysia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/data-scientist-beijing-beijing-china-934143/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Data Scientist</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>18d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[EN]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">USD 114K-209K</small>
          </div>
          <div class="text-end">
            <small>Beijing, Beijing, China</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/principal-software-engineer-backend-jakarta-indonesia-735479/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Principal Software Engineer, Backend</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>1mo ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">IDR 97200K-145200K</small>
          </div>
          <div class="text-end">
            <small>Jakarta, Indonesia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-economist-data-scientist-petaling-jaya-selangor-malaysia-1054142/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior Economist (Data Scientist)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>2d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">USD 135K-339K</small>
          </div>
          <div class="text-end">
            <small>Petaling Jaya, Selangor, Malaysia</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/data-scientist-beijing-china-930193/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Data Scientist</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>21d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">USD 143K-326K</small>
          </div>
          <div class="text-end">
            <small>Beijing, China</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-associate-analytics-projects-mobility-business-bangkok-thailand-875535/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior Associate, Analytics &amp; Projects (Mobility Business)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>29d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">THB 540K-792K</small>
          </div>
          <div class="text-end">
            <small>Bangkok, Thailand</small>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="hstack justify-content-between">
          <a
            class="stretched-link"
            href=""
            data-bs-dismiss="offcanvas"
            data-bs-target="#oc_1"
            hx-get="/hiring/jobs/senior-software-engineer-backend-reliability-developer-experience-kecamatan-cilandak-daerah-khusus-ibukota-jakarta-indonesia-1036462/"
            hx-replace-url="true"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-on::before-request="event.detail.target.innerHTML = '...'"
            >Senior Software Engineer, Backend (Reliability &amp; Developer
            Experience)</a
          >
          <div class="flex-shrink-0 text-body-secondary">
            <small>3d ago</small>
          </div>
        </div>
        <div class="hstack justify-content-between">
          <div>
            <small class="text-warning-emphasis">[SE]</small
            ><small class="text-body-secondary">[Full Time]</small>

            <small class="text-bg-secondary">IDR 91800K-145200K</small>
          </div>
          <div class="text-end">
            <small>Kecamatan Cilandak, Daerah Khusus Ibukota Jakarta, …</small>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
