<title>Analyste, cybersécurité, sécurité des opérations (SecOps)</title>


<div id="oc_1" hx-swap-oob="false"></div>
<div>


    
    <div class="px-1 border-bottom">
        <h1>
            Analyste, cybersécurité, sécurité des opérations (SecOps)
        </h1>
    </div>
    
    <div class="px-1 border-bottom">
        <div class="hstack justify-content-between">
            <div>
                
                Montreal, Quebec, Canada
                
                
            </div>
            <div>
                <strong>
                    <a href="/hiring/companies/" rel="nofollow">@ ...</a>
                </strong>
            </div>
        </div>
        <div class="hstack justify-content-between">
            <div class="text-body-secondary pe-1">
            [Mid-level / Intermediate]
            <span class="text-warning-emphasis">[~5yoe]</span>
            <br>
            [Full Time]
            


    
        <span class="text-bg-secondary">CAD 59K-120K (estimate)</span>
    


            </div>
            <div>
                <em>
                    Found 3h ago
                </em>
                
            </div>
        </div>
    </div>
    <div class="px-1 border-bottom pb-2">
        <strong>Tasks:</strong>
        <ul class="list-unstyled mb-2">
        <li>* Collaborate with IT teams to improve security posture</li><li>* Conduct threat hunting activities</li><li>* Configure and optimize security tools</li><li>* Contribute to security policies and best practices</li><li>* Develop and implement incident response procedures</li><li>* Investigate security vulnerabilities and cyberattacks</li><li>* Monitor security alerts and incidents</li><li>* Perform vulnerability assessments and deploy patches</li><li>* Prepare security incident reports and trend analyses</li><li>* Remediate vulnerabilities on Unix/Linux and Windows servers</li><li>* Stay informed on cyber threats and vulnerabilities</li>
        </ul>
        <strong>Perks/Benefits:</strong>
        <ul class="list-unstyled mb-2">
        <li>+ Hybrid work mode</li><li>+ Modern work environment</li><li>+ Travel privileges</li>
        </ul>
        <strong>Skills/Tech-stack required:</strong>
        <div class="text-primary-emphasis mb-2">
        [Cyber Threat][Cyber Threat Intelligence][Incident investigation][Linux Security][Policy Development][Report Writing][Security incident investigation][Security Policy][Security Policy Development][Security Tool Configuration][SIEM][SOAR][Threat hunting][Threat Intelligence][Tool Configuration][Unix/Linux][UNIX/Linux Security][Vulnerability Management][Windows Security]
        </div>
        <strong>Educational requirements:</strong>
        <div class="text-warning-emphasis text-wrap">
        [Bachelor&#x27;s Degree][Master&#x27;s Degree]
        </div>
    </div>
    <div class="px-1 border-bottom d-flex justify-content-between text-muted">
        <div>
            <small>Views: <strong>1</strong></small> &middot;
            <small>Clicks (apply): <strong>0</strong></small>
        </div>
        <div>
            <small>Published: <strong>2025-09-19 00:23 UTC</strong></small>
        </div>
    </div>
    <div class="p-1 border-bottom">
        
        <a class="btn btn-outline-primary btn-sm"
            hx-get="/hiring/jobs/top/"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-replace-url="true"
            hx-on::before-request="event.detail.target.innerHTML = '...'">
            Close
        </a>
        
        <button class="btn btn-outline-primary btn-sm"
            onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/analyste-cybersecurite-securite-des-operations-secops-montreal-quebec-canada-1060460/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })">
            Copy link
        </button>
        <button class="btn btn-outline-primary btn-sm"
            
            hx-target="#mc_2"
            hx-post="/hiring/jobs/1060460/save/">
            Save
        </button>
        
        <a class="btn btn-primary btn-sm"
            href="/hiring/jobs/K668wZj3Q0iez9u/apply/" target="_blank" rel="nofollow">
            Apply
        </a>
        
    </div>

    
    
    <div id="dm_0">

<div class="border-bottom">
<div class="d-flex justify-content-start">
    <div class="border-end px-1 text-bg-light">
        <h3><a href="" class="text-primary"
            hx-get="/hiring/jobs/more/1060460/1/"
            hx-target="#dm_0">
            Similar jobs</a></h3>
    </div>
    <div class="border-end px-1">
        <h3><a href=""
            hx-get="/hiring/jobs/more/1060460/2/"
            hx-target="#dm_0">
            Media</a></h3>
    </div>
</div>
</div>
<ul class="list-group list-group-flush text-break">

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/analyste-cybersecurite-securite-des-operations-secops-montreal-quebec-canada-1004176/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Analyste, cybersécurité, sécurité des opérations (SecOps)</a>
<div class="flex-shrink-0 text-body-secondary"><small>23d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 57K-89K</small>
    


</div>
<div class="text-end">
<small>Montreal, Quebec, Canada</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/specialiste-senior-cybersecurite-montreal-quebec-canada-908173/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Spécialiste Senior, Cybersécurité</a>
<div class="flex-shrink-0 text-body-secondary"><small>23d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 91K-139K</small>
    


</div>
<div class="text-end">
<small>Montreal, Quebec, Canada</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/analyste-intelligence-daffaires-bi-montreal-ca-qc-canada-732889/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Analyste intelligence d’affaires (BI)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 66K-120K</small>
    


</div>
<div class="text-end">
<small>Montreal, CA-QC, Canada</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-cybersecurity-specialist-montreal-quebec-canada-906682/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Cybersecurity Specialist</a>
<div class="flex-shrink-0 text-body-secondary"><small>23d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 90K-145K</small>
    


</div>
<div class="text-end">
<small>Montreal, Quebec, Canada</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/analyste-principale-mesure-marketing-montreal-ca-qc-canada-832207/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Analyste principal.e, mesure marketing</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 66K-134K</small>
    


</div>
<div class="text-end">
<small>Montreal, CA-QC, Canada</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/analyste-cybersecurite-montreal-qc-ca-1030636/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Analyste cybersécurité</a>
<div class="flex-shrink-0 text-body-secondary"><small>7d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">CAD 55K-98K</small>
    


</div>
<div class="text-end">
<small>Montréal, QC, CA</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/conseillerere-cybersecurite-i-montreal-qc-ca-1030638/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Conseiller(ère) Cybersécurité I</a>
<div class="flex-shrink-0 text-body-secondary"><small>8d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">CAD 65K-109K</small>
    


</div>
<div class="text-end">
<small>Montréal, QC, CA</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/conseillerere-cybersecurite-ii-montreal-qc-ca-1004198/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Conseiller(ère) Cybersécurité II</a>
<div class="flex-shrink-0 text-body-secondary"><small>24d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">CAD 73K-122K</small>
    


</div>
<div class="text-end">
<small>Montréal, QC, CA</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/conseillerere-cybersecurite-ii-montreal-qc-ca-1004227/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Conseiller(ère) Cybersécurité II</a>
<div class="flex-shrink-0 text-body-secondary"><small>25d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">CAD 73K-122K</small>
    


</div>
<div class="text-end">
<small>Montréal, QC, CA</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/conseiller-principal-en-securite-de-linformation-montreal-quebec-788169/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Conseiller principal en sécurité de l’information</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 91K-139K</small>
    


</div>
<div class="text-end">
<small>Montréal, Québec</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/analyste-cybersecurite-grc-montreal-quebec-canada-768791/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Analyste Cybersecurité (GRC)</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 66K-120K</small>
    


</div>
<div class="text-end">
<small>Montreal, Quebec, Canada</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/analyste-developpeur-bi-quebec-qc-canada-789043/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Analyste développeur BI</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 59K-120K</small>
    


</div>
<div class="text-end">
<small>Québec, QC, Canada</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/specialiste-principal-en-ingenierie-logicielle-et-materielle-swel-montreal-quebec-canada-1027135/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Spécialiste principal en ingénierie logicielle et matérielle (SWEL)</a>
<div class="flex-shrink-0 text-body-secondary"><small>7d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 81K-126K</small>
    


</div>
<div class="text-end">
<small>Montreal, Quebec, Canada</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/analyste-senior-en-cybersecurite-cloud-montreal-quebec-canada-889230/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Analyste senior en cybersécurité, Cloud</a>
<div class="flex-shrink-0 text-body-secondary"><small>27d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 89K-139K</small>
    


</div>
<div class="text-end">
<small>Montréal, Québec, Canada</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/analyste-principale-securite-quebec-1080-grande-allee-west-35-hrs-canada-1010306/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Analyste principal(e) Sécurité</a>
<div class="flex-shrink-0 text-body-secondary"><small>9d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 91K-137K</small>
    


</div>
<div class="text-end">
<small>Quebec / 1080, Grande Allee West …</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/analyste-informatique-montreal-qc-ca-853319/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Analyste informatique</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">CAD 55K-98K</small>
    


</div>
<div class="text-end">
<small>Montréal, QC, CA</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/analyste-informatique-montreal-qc-ca-853316/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Analyste informatique</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">CAD 55K-98K</small>
    


</div>
<div class="text-end">
<small>Montréal, QC, CA</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/stagiaire-cybersecurite-a-compter-de-janvier-2026-montreal-canada-870646/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Stagiaire, Cybersécurité (à compter de janvier 2026)</a>
<div class="flex-shrink-0 text-body-secondary"><small>30d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EN]</small><small class="text-body-secondary">[Full Time][Internship]</small>


    
    <small class="text-bg-secondary">CAD 41K-63K</small>
    


</div>
<div class="text-end">
<small>Montreal, Canada</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/professional-services-implementation-manager-can-montreal-canada-1028806/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Professional Services Implementation Manager</a>
<div class="flex-shrink-0 text-body-secondary"><small>7d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 63K-139K</small>
    


</div>
<div class="text-end">
<small>CAN - Montreal, Canada</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/ingenieur-systemes-avioniques-montreal-qc-canada-909371/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Ingénieur systèmes avioniques</a>
<div class="flex-shrink-0 text-body-secondary"><small>23d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EN]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 68K-110K</small>
    


</div>
<div class="text-end">
<small>Montréal, QC, Canada</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/ingenieur-systemes-avioniques-montreal-qc-canada-924020/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Ingénieur systèmes avioniques</a>
<div class="flex-shrink-0 text-body-secondary"><small>21d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[EN]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 68K-110K</small>
    


</div>
<div class="text-end">
<small>Montréal, QC, Canada</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/developpeur-ii-montreal-qc-ca-982338/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Développeur II</a>
<div class="flex-shrink-0 text-body-secondary"><small>17d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">CAD 73K-122K</small>
    


</div>
<div class="text-end">
<small>Montréal, QC, CA</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/developpeur-ii-ia-mlops-montreal-qc-ca-999328/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Développeur II- IA-MLOPS</a>
<div class="flex-shrink-0 text-body-secondary"><small>17d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[MI]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-success">CAD 73K-122K</small>
    


</div>
<div class="text-end">
<small>Montréal, QC, CA</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/responsable-de-la-transformation-du-systeme-de-gestion-dentreprise-lead-of-business-management-system-transformation-mirabel-canada-731077/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Responsable de la Transformation du Système de Gestion d&#x27;Entreprise / Lead of Business Management System Transformation</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 81K-170K</small>
    


</div>
<div class="text-end">
<small>Mirabel, Canada</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/professionelle-ingenierie-dorval-quebec-ca-h4s-1y9-748335/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Professionel.le, Ingénierie</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
<small class="text-warning-emphasis">[SE]</small><small class="text-body-secondary">[Full Time]</small>


    
    <small class="text-bg-secondary">CAD 61K-104K</small>
    


</div>
<div class="text-end">
<small>Dorval, Québec, CA, H4S 1Y9</small>
</div>
</div>
</li>


</ul>



</div>


</div>
