<title>Data Engineer</title>


<div id="oc_1" hx-swap-oob="false"></div>
<div>


    
    <div class="px-1 border-bottom">
        <h1>
            Data Engineer
        </h1>
    </div>
    
    <div class="px-1 border-bottom">
        <div class="hstack justify-content-between">
            <div>
                
                Bunnik, NL, 3981 AZ
                
                
            </div>
            <div>
                <strong>
                    <a href="/hiring/companies/" rel="nofollow">@ ...</a>
                </strong>
            </div>
        </div>
        <div class="hstack justify-content-between">
            <div class="text-body-secondary pe-1">
            [Entry-level / Junior]
            <span class="text-warning-emphasis">[~3yoe]</span>
            <br>
            [Full Time]
            
            
            <span class="text-bg-success">EUR 52K-83K</span>
            
            </div>
            <div>
                <em>
                    Found 1h ago
                </em>
                
            </div>
        </div>
    </div>
    <div class="px-1 border-bottom pb-2">
        <strong>Tasks:</strong>
        <ul class="list-unstyled mb-2">
        <li>* Collaborate with data experts and stakeholders</li><li>* Create visual reports and dashboards in PowerBI</li><li>* Develop and maintain ETL processes</li><li>* Digitalize and automate BAM processes</li><li>* Monitor data quality and automate workflows in Azure</li>
        </ul>
        <strong>Perks/Benefits:</strong>
        <ul class="list-unstyled mb-2">
        <li>+ 25 vacation days</li><li>+ Competitive salary</li><li>+ Discounts on sports and insurance</li><li>+ Duurzame Inzetbaarheid budget</li><li>+ Hybrid working</li><li>+ Laptop and iPhone</li><li>+ Training and development</li><li>+ Travel reimbursement</li>
        </ul>
        <strong>Skills/Tech-stack required:</strong>
        <div class="text-primary-emphasis mb-2">
        [Agile][API Integration][Automation][Azure][Data Quality][Data Quality Management][Data Transformation][Data Visualization][DevOps][PowerBI][Python][Quality management][SAFe][SQL][Team Collaboration]
        </div>
        <strong>Educational requirements:</strong>
        <div class="text-warning-emphasis text-wrap">
        [HBO][University]
        </div>
    </div>
    <div class="p-1 border-bottom">
        
        <a class="btn btn-outline-primary btn-sm"
            hx-get="/hiring/jobs/top/"
            hx-target="#mc_2"
            hx-swap="scroll:top"
            hx-replace-url="true"
            hx-on::before-request="event.detail.target.innerHTML = '...'">
            Close
        </a>
        
        <button class="btn btn-outline-primary btn-sm"
            onclick="navigator.clipboard.writeText('https://foorilla.com/hiring/jobs/data-engineer-bunnik-nl-3981-az-1037916/').then(() => {
                document.body.dispatchEvent(
                    new CustomEvent('showToasts', {detail: [{message: 'Job link copied!', tags: 'success'}]})
                )
            })">
            Copy link
        </button>
        <button class="btn btn-outline-primary btn-sm"
            
            hx-target="#mc_2"
            hx-post="/hiring/jobs/1037916/save/">
            Save
        </button>
        
        <a class="btn btn-primary btn-sm"
            href="/hiring/jobs/yIf6sMn9SBWG3TY/apply/" target="_blank" rel="nofollow">
            Apply
        </a>
        
    </div>

    
    
    <div id="dm_0">

<div class="border-bottom">
<div class="d-flex justify-content-start">
    <div class="border-end px-1 text-bg-light">
        <h3><a href="" class="text-primary"
            hx-get="/hiring/jobs/more/1037916/1/"
            hx-target="#dm_0">
            Similar jobs</a></h3>
    </div>
    <div class="border-end px-1">
        <h3><a href=""
            hx-get="/hiring/jobs/more/1037916/2/"
            hx-target="#dm_0">
            Media</a></h3>
    </div>
</div>
</div>
<ul class="list-group list-group-flush text-break">

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/data-scientist-bunnik-nl-3981-az-1037928/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Data Scientist</a>
<div class="flex-shrink-0 text-body-secondary"><small>1h ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">EUR 52K-83K</small>
    
</div>
<div class="text-end">
    <small>Bunnik, NL, 3981 AZ</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/data-analist-bunnik-nl-3981-la-961462/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Data Analist</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">EUR 46K-64K</small>
    
</div>
<div class="text-end">
    <small>Bunnik, NL, 3981 LA</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/power-bi-developer-zwammerdam-nl-2471-ab-961944/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Power BI Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 44K-71K</small>
    
</div>
<div class="text-end">
    <small>Zwammerdam, NL, 2471 AB</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/manager-commercial-intelligence-analytics-gouda-nl-2801-sc-961876/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Manager Commercial Intelligence &amp; Analytics</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">EUR 90K-96K</small>
    
</div>
<div class="text-end">
    <small>Gouda, NL, 2801 SC</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/digital-engineer-gouda-nl-2801-sc-961614/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Digital Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 46K-81K</small>
    
</div>
<div class="text-end">
    <small>Gouda, NL, 2801 SC</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/software-engineer-groningen-nl-9723-je-962115/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Software Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 50K-88K</small>
    
</div>
<div class="text-end">
    <small>Groningen, NL, 9723 JE</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/werkstudent-digital-engineer-gouda-nl-2801-sc-961613/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent Digital Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 46K-81K</small>
    
</div>
<div class="text-end">
    <small>Gouda, NL, 2801 SC</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/junior-geotechnisch-specialist-gouda-nl-2801-sc-961611/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Junior Geotechnisch Specialist</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">EUR 41K-49K</small>
    
</div>
<div class="text-end">
    <small>Gouda, NL, 2801 SC</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/azure-data-engineer-amsterdam-nh-netherlands-736489/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Azure Data Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 43K-77K</small>
    
</div>
<div class="text-end">
    <small>Amsterdam, NH, Netherlands</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/azure-data-engineer-amsterdam-nh-netherlands-728808/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Azure Data Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 43K-84K</small>
    
</div>
<div class="text-end">
    <small>Amsterdam, NH, Netherlands</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/data-engineer-id-2689-amstelveen-netherlands-950810/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Data Engineer (ID: 2689)</a>
<div class="flex-shrink-0 text-body-secondary"><small>12d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    <small class="text-danger-emphasis">[A]</small>
    
    <small class="text-bg-secondary">EUR 37K-66K</small>
    
</div>
<div class="text-end">
    <small>Amstelveen, Netherlands</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-data-engineer-bi-id-3175-utrecht-netherlands-1031680/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Data Engineer BI (ID: 3175)</a>
<div class="flex-shrink-0 text-body-secondary"><small>21h ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    <small class="text-danger-emphasis">[A]</small>
    
    <small class="text-bg-secondary">EUR 42K-74K</small>
    
</div>
<div class="text-end">
    <small>Utrecht, Netherlands</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/werkstudent-communicatie-design-gouda-nl-2801-sc-961615/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Werkstudent Communicatie &amp; Design</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Part Time]</small>
    
    
    <small class="text-bg-secondary">EUR 44K-79K</small>
    
</div>
<div class="text-end">
    <small>Gouda, NL, 2801 SC</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-data-engineer-id-3074-utrecht-netherlands-951341/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Data Engineer (ID: 3074)</a>
<div class="flex-shrink-0 text-body-secondary"><small>12d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    <small class="text-danger-emphasis">[A]</small>
    
    <small class="text-bg-secondary">EUR 53K-87K</small>
    
</div>
<div class="text-end">
    <small>Utrecht, Netherlands</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/data-engineer-id-2646-amstelveen-netherlands-951337/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Data Engineer (ID: 2646)</a>
<div class="flex-shrink-0 text-body-secondary"><small>12d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    <small class="text-danger-emphasis">[A]</small>
    
    <small class="text-bg-secondary">EUR 37K-66K</small>
    
</div>
<div class="text-end">
    <small>Amstelveen, Netherlands</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-data-engineer-id-3127-utrecht-netherlands-950835/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Senior Data Engineer (ID: 3127)</a>
<div class="flex-shrink-0 text-body-secondary"><small>12d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    <small class="text-danger-emphasis">[A]</small>
    
    <small class="text-bg-secondary">EUR 48K-84K</small>
    
</div>
<div class="text-end">
    <small>Utrecht, Netherlands</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/azure-data-engineer-amsterdam-noord-holland-nederland-896763/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Azure data-engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>21d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">EUR 60K-100K</small>
    
</div>
<div class="text-end">
    <small>Amsterdam, Noord-Holland, Nederland</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/mendix-developer-bunnik-nl-3981-az-961480/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Mendix Developer</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[MI]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 64K-102K</small>
    
</div>
<div class="text-end">
    <small>Bunnik, NL, 3981 AZ</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/senior-azure-data-engineer-naarden-netherlands-884069/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">(Senior) Azure Data Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>25d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 48K-80K</small>
    
</div>
<div class="text-end">
    <small>Naarden, Netherlands</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/microsoft-data-engineer-amstelveen-north-holland-netherlands-965179/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Microsoft Data Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">EUR 47K-60K</small>
    
</div>
<div class="text-end">
    <small>Amstelveen, North Holland, Netherlands</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/microsoft-data-engineer-amstelveen-north-holland-netherlands-968755/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Microsoft Data Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>10d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">EUR 47K-60K</small>
    
</div>
<div class="text-end">
    <small>Amstelveen, North Holland, Netherlands</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/microsoft-data-engineer-amstelveen-north-holland-netherlands-960736/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Microsoft Data Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>12d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">EUR 47K-60K</small>
    
</div>
<div class="text-end">
    <small>Amstelveen, North Holland, Netherlands</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/wtb-staalconstructeur-maritieme-constructies-gouda-nl-2801-sc-961612/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">WTB / Staalconstructeur Maritieme Constructies</a>
<div class="flex-shrink-0 text-body-secondary"><small>11d ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">EUR 56K-63K</small>
    
</div>
<div class="text-end">
    <small>Gouda, NL, 2801 SC</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/data-engineer-amsterdam-noord-holland-nederland-731493/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">Data Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[SE]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-secondary">EUR 48K-88K</small>
    
</div>
<div class="text-end">
    <small>Amsterdam, Noord-Holland, Nederland</small>
</div>
</div>
</li>

<li class="list-group-item">
<div class="hstack justify-content-between">
<a class="stretched-link" href=""
    data-bs-dismiss="offcanvas"
    data-bs-target="#oc_1"
    hx-get="/hiring/jobs/junior-microsoft-data-engineer-amstelveen-nh-netherlands-716012/"
    hx-replace-url="true"
    hx-target="#mc_2"
    hx-swap="scroll:top"
    hx-on::before-request="event.detail.target.innerHTML = '...'">(Junior) Microsoft Data Engineer</a>
<div class="flex-shrink-0 text-body-secondary"><small>1mo ago</small></div>
</div>
<div class="hstack justify-content-between">
<div>
    <small class="text-warning-emphasis">[EN]</small>
    <small class="text-body-secondary">[Full Time]</small>
    
    
    <small class="text-bg-success">EUR 38K-60K</small>
    
</div>
<div class="text-end">
    <small>Amstelveen, NH, Netherlands</small>
</div>
</div>
</li>


</ul>



</div>


</div>
